## <font color='red'>统计太阳能发电每天最大值和对应时刻？（项目实战）</font>

In [1]:
import pandas as pd
data = pd.read_csv('./太阳能发电/太阳能发电量分析.csv')
data

                        时间  太阳能发电量
0     2021-01-01T00:00:00Z       0
1     2021-01-01T01:00:00Z       0
2     2021-01-01T02:00:00Z       0
3     2021-01-01T03:00:00Z       0
4     2021-01-01T04:00:00Z       0
...                    ...     ...
8755  2021-12-31T19:00:00Z      29
8756  2021-12-31T20:00:00Z      29
8757  2021-12-31T21:00:00Z      29
8758  2021-12-31T22:00:00Z      29
8759  2021-12-31T23:00:00Z       0

[8760 rows x 2 columns]

In [2]:
data['时间'] = pd.to_datetime(data['时间'])
data['日期'] = data['时间'].dt.date
data['时分秒'] = data['时间'].dt.time
data

                            时间  太阳能发电量          日期       时分秒
0    2021-01-01 00:00:00+00:00       0  2021-01-01  00:00:00
1    2021-01-01 01:00:00+00:00       0  2021-01-01  01:00:00
2    2021-01-01 02:00:00+00:00       0  2021-01-01  02:00:00
3    2021-01-01 03:00:00+00:00       0  2021-01-01  03:00:00
4    2021-01-01 04:00:00+00:00       0  2021-01-01  04:00:00
...                        ...     ...         ...       ...
8755 2021-12-31 19:00:00+00:00      29  2021-12-31  19:00:00
8756 2021-12-31 20:00:00+00:00      29  2021-12-31  20:00:00
8757 2021-12-31 21:00:00+00:00      29  2021-12-31  21:00:00
8758 2021-12-31 22:00:00+00:00      29  2021-12-31  22:00:00
8759 2021-12-31 23:00:00+00:00       0  2021-12-31  23:00:00

[8760 rows x 4 columns]

In [3]:
def func(item):
    idx = item['太阳能发电量'].argmax()
    return item.iloc[idx]
result1 = data.groupby('日期').apply(func)
result1

                                  时间  太阳能发电量          日期       时分秒
日期
2021-01-01 2021-01-01 14:00:00+00:00      30  2021-01-01  14:00:00
2021-01-02 2021-01-02 15:00:00+00:00      44  2021-01-02  15:00:00
2021-01-03 2021-01-03 10:00:00+00:00      12  2021-01-03  10:00:00
2021-01-04 2021-01-04 11:00:00+00:00    7285  2021-01-04  11:00:00
2021-01-05 2021-01-05 17:00:00+00:00      15  2021-01-05  17:00:00
...                              ...     ...         ...       ...
2021-12-27 2021-12-27 11:00:00+00:00    4260  2021-12-27  11:00:00
2021-12-28 2021-12-28 11:00:00+00:00    4598  2021-12-28  11:00:00
2021-12-29 2021-12-29 11:00:00+00:00    5283  2021-12-29  11:00:00
2021-12-30 2021-12-30 11:00:00+00:00    4198  2021-12-30  11:00:00
2021-12-31 2021-12-31 10:00:00+00:00    5445  2021-12-31  10:00:00

[365 rows x 4 columns]

In [4]:
result1 = result1[['日期','时分秒','太阳能发电量']]
result1.columns = ['日期','最大时刻','最大值']
result1.to_csv('./太阳能发电/solar_result1.csv',index = False)
result1

                    日期      最大时刻   最大值
日期
2021-01-01  2021-01-01  14:00:00    30
2021-01-02  2021-01-02  15:00:00    44
2021-01-03  2021-01-03  10:00:00    12
2021-01-04  2021-01-04  11:00:00  7285
2021-01-05  2021-01-05  17:00:00    15
...                ...       ...   ...
2021-12-27  2021-12-27  11:00:00  4260
2021-12-28  2021-12-28  11:00:00  4598
2021-12-29  2021-12-29  11:00:00  5283
2021-12-30  2021-12-30  11:00:00  4198
2021-12-31  2021-12-31  10:00:00  5445

[365 rows x 3 columns]

## <font color='red'>统计每个季度太阳能发电量的算术平均值和方差？（项目实战）</font>

In [1]:
import pandas as pd
data = pd.read_csv('./太阳能发电/太阳能发电量分析.csv')
data['时间'] = pd.to_datetime(data['时间'])
data

                            时间  太阳能发电量
0    2021-01-01 00:00:00+00:00       0
1    2021-01-01 01:00:00+00:00       0
2    2021-01-01 02:00:00+00:00       0
3    2021-01-01 03:00:00+00:00       0
4    2021-01-01 04:00:00+00:00       0
...                        ...     ...
8755 2021-12-31 19:00:00+00:00      29
8756 2021-12-31 20:00:00+00:00      29
8757 2021-12-31 21:00:00+00:00      29
8758 2021-12-31 22:00:00+00:00      29
8759 2021-12-31 23:00:00+00:00       0

[8760 rows x 2 columns]

In [2]:
data.set_index('时间')

                           太阳能发电量
时间
2021-01-01 00:00:00+00:00       0
2021-01-01 01:00:00+00:00       0
2021-01-01 02:00:00+00:00       0
2021-01-01 03:00:00+00:00       0
2021-01-01 04:00:00+00:00       0
...                           ...
2021-12-31 19:00:00+00:00      29
2021-12-31 20:00:00+00:00      29
2021-12-31 21:00:00+00:00      29
2021-12-31 22:00:00+00:00      29
2021-12-31 23:00:00+00:00       0

[8760 rows x 1 columns]

In [3]:
result2 = data.set_index('时间').resample('Q').agg(['mean','var']).round(2)
result2

                            太阳能发电量
                              mean          var
时间
2021-03-31 00:00:00+00:00  1571.56   7650524.99
2021-06-30 00:00:00+00:00  2991.41  14180865.64
2021-09-30 00:00:00+00:00  2990.55  13774627.77
2021-12-31 00:00:00+00:00  1298.76   4179107.20

In [4]:
result2.index = ['第%s季度'%(i) for i in list('一二三四')]
result2.index.name = '季度'
result2.columns = ['算数平均值','方差']
result2.to_csv('./太阳能发电/solar_result2.csv',index = False)
result2

        算数平均值           方差
季度
第一季度  1571.56   7650524.99
第二季度  2991.41  14180865.64
第三季度  2990.55  13774627.77
第四季度  1298.76   4179107.20

## <font color='red'>统计每天截止当前时间点的累计太阳能发电量？（项目实战）</font>

<font color='green'>包括</font>当前时间点数据，例如:   

10点累计发电量，计算0点至10点的发电量总量；  

15点累计发电量，计算0点至15点的发电量总量；  

23点累计发电量，为当天发电量总量

In [5]:
import pandas as pd
data = pd.read_csv('./太阳能发电/太阳能发电量分析.csv')
data['时间'] = pd.to_datetime(data['时间'])
data['日期'] = data['时间'].dt.date
data

                            时间  太阳能发电量          日期
0    2021-01-01 00:00:00+00:00       0  2021-01-01
1    2021-01-01 01:00:00+00:00       0  2021-01-01
2    2021-01-01 02:00:00+00:00       0  2021-01-01
3    2021-01-01 03:00:00+00:00       0  2021-01-01
4    2021-01-01 04:00:00+00:00       0  2021-01-01
...                        ...     ...         ...
8755 2021-12-31 19:00:00+00:00      29  2021-12-31
8756 2021-12-31 20:00:00+00:00      29  2021-12-31
8757 2021-12-31 21:00:00+00:00      29  2021-12-31
8758 2021-12-31 22:00:00+00:00      29  2021-12-31
8759 2021-12-31 23:00:00+00:00       0  2021-12-31

[8760 rows x 3 columns]

In [6]:
cumsum = data.groupby('日期')['太阳能发电量'].cumsum().to_frame('累计发电量')
cumsum

      累计发电量
0         0
1         0
2         0
3         0
4         0
...     ...
8755  26814
8756  26843
8757  26872
8758  26901
8759  26901

[8760 rows x 1 columns]

In [7]:
cumsum.head(24)

    累计发电量
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12     10
13     30
14     60
15     60
16     60
17     60
18     60
19     60
20     60
21     60
22     60
23     60

In [8]:
cumsum.tail(24)

      累计发电量
8736      0
8737      0
8738      0
8739      0
8740      0
8741      0
8742     36
8743    802
8744   3495
8745   7933
8746  13378
8747  18534
8748  22839
8749  25390
8750  26540
8751  26698
8752  26727
8753  26756
8754  26785
8755  26814
8756  26843
8757  26872
8758  26901
8759  26901

In [9]:
result3 = pd.concat([data[['时间','太阳能发电量']],cumsum],axis = 1)
result3

                            时间  太阳能发电量  累计发电量
0    2021-01-01 00:00:00+00:00       0      0
1    2021-01-01 01:00:00+00:00       0      0
2    2021-01-01 02:00:00+00:00       0      0
3    2021-01-01 03:00:00+00:00       0      0
4    2021-01-01 04:00:00+00:00       0      0
...                        ...     ...    ...
8755 2021-12-31 19:00:00+00:00      29  26814
8756 2021-12-31 20:00:00+00:00      29  26843
8757 2021-12-31 21:00:00+00:00      29  26872
8758 2021-12-31 22:00:00+00:00      29  26901
8759 2021-12-31 23:00:00+00:00       0  26901

[8760 rows x 3 columns]

In [10]:
result3.to_csv('./太阳能发电/solar_result3.csv',index = False)
result3

                            时间  太阳能发电量  累计发电量
0    2021-01-01 00:00:00+00:00       0      0
1    2021-01-01 01:00:00+00:00       0      0
2    2021-01-01 02:00:00+00:00       0      0
3    2021-01-01 03:00:00+00:00       0      0
4    2021-01-01 04:00:00+00:00       0      0
...                        ...     ...    ...
8755 2021-12-31 19:00:00+00:00      29  26814
8756 2021-12-31 20:00:00+00:00      29  26843
8757 2021-12-31 21:00:00+00:00      29  26872
8758 2021-12-31 22:00:00+00:00      29  26901
8759 2021-12-31 23:00:00+00:00       0  26901

[8760 rows x 3 columns]

## <font color='red'>统计每天太阳能发电量最多的时间段？（项目实战）</font>

<font color = 'green'>连续</font>的三个小时为一个时间段，例如：  

2点至5点发电量总量；  

3点至6点发电量总量；  

4点至7点发电量总量

### 方式一

In [1]:
import pandas as pd
data = pd.read_csv('./太阳能发电/太阳能发电量分析.csv')
data['时间'] = pd.to_datetime(data['时间'])
data['日期'] = data['时间'].dt.date
data['时分秒'] = data['时间'].dt.time
data

                            时间  太阳能发电量          日期       时分秒
0    2021-01-01 00:00:00+00:00       0  2021-01-01  00:00:00
1    2021-01-01 01:00:00+00:00       0  2021-01-01  01:00:00
2    2021-01-01 02:00:00+00:00       0  2021-01-01  02:00:00
3    2021-01-01 03:00:00+00:00       0  2021-01-01  03:00:00
4    2021-01-01 04:00:00+00:00       0  2021-01-01  04:00:00
...                        ...     ...         ...       ...
8755 2021-12-31 19:00:00+00:00      29  2021-12-31  19:00:00
8756 2021-12-31 20:00:00+00:00      29  2021-12-31  20:00:00
8757 2021-12-31 21:00:00+00:00      29  2021-12-31  21:00:00
8758 2021-12-31 22:00:00+00:00      29  2021-12-31  22:00:00
8759 2021-12-31 23:00:00+00:00       0  2021-12-31  23:00:00

[8760 rows x 4 columns]

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
def func1(item):
    sub = item['太阳能发电量'] + item['太阳能发电量'].shift(1) + item['太阳能发电量'].shift(-1)
    sub = sub.to_frame('连续的三个小时发电量')
    return pd.concat([item,sub],axis = 1)
res = data.groupby('日期').apply(func1)
res

                            时间  太阳能发电量          日期       时分秒  连续的三个小时发电量
0    2021-01-01 00:00:00+00:00       0  2021-01-01  00:00:00         NaN
1    2021-01-01 01:00:00+00:00       0  2021-01-01  01:00:00         0.0
2    2021-01-01 02:00:00+00:00       0  2021-01-01  02:00:00         0.0
3    2021-01-01 03:00:00+00:00       0  2021-01-01  03:00:00         0.0
4    2021-01-01 04:00:00+00:00       0  2021-01-01  04:00:00         0.0
...                        ...     ...         ...       ...         ...
8755 2021-12-31 19:00:00+00:00      29  2021-12-31  19:00:00        87.0
8756 2021-12-31 20:00:00+00:00      29  2021-12-31  20:00:00        87.0
8757 2021-12-31 21:00:00+00:00      29  2021-12-31  21:00:00        87.0
8758 2021-12-31 22:00:00+00:00      29  2021-12-31  22:00:00        58.0
8759 2021-12-31 23:00:00+00:00       0  2021-12-31  23:00:00         NaN

[8760 rows x 5 columns]

In [5]:
res.head(24)

                          时间  太阳能发电量          日期       时分秒  连续的三个小时发电量
0  2021-01-01 00:00:00+00:00       0  2021-01-01  00:00:00         NaN
1  2021-01-01 01:00:00+00:00       0  2021-01-01  01:00:00         0.0
2  2021-01-01 02:00:00+00:00       0  2021-01-01  02:00:00         0.0
3  2021-01-01 03:00:00+00:00       0  2021-01-01  03:00:00         0.0
4  2021-01-01 04:00:00+00:00       0  2021-01-01  04:00:00         0.0
5  2021-01-01 05:00:00+00:00       0  2021-01-01  05:00:00         0.0
6  2021-01-01 06:00:00+00:00       0  2021-01-01  06:00:00         0.0
7  2021-01-01 07:00:00+00:00       0  2021-01-01  07:00:00         0.0
8  2021-01-01 08:00:00+00:00       0  2021-01-01  08:00:00         0.0
9  2021-01-01 09:00:00+00:00       0  2021-01-01  09:00:00         0.0
10 2021-01-01 10:00:00+00:00       0  2021-01-01  10:00:00         0.0
11 2021-01-01 11:00:00+00:00       0  2021-01-01  11:00:00        10.0
12 2021-01-01 12:00:00+00:00      10  2021-01-01  12:00:00        30.0
13 2021-01-01 13:00:00+00:00      20  2021-01-01  13:00:00        60.0
14 2021-01-01 14:00:00+00:00      30  2021-01-01  14:00:00        50.0
15 2021-01-01 15:00:00+00:00       0  2021-01-01  15:00:00        30.0
16 2021-01-01 16:00:00+00:00       0  2021-01-01  16:00:00         0.0
17 2021-01-01 17:00:00+00:00       0  2021-01-01  17:00:00         0.0
18 2021-01-01 18:00:00+00:00       0  2021-01-01  18:00:00         0.0
19 2021-01-01 19:00:00+00:00       0  2021-01-01  19:00:00         0.0
20 2021-01-01 20:00:00+00:00       0  2021-01-01  20:00:00         0.0
21 2021-01-01 21:00:00+00:00       0  2021-01-01  21:00:00         0.0
22 2021-01-01 22:00:00+00:00       0  2021-01-01  22:00:00         0.0
23 2021-01-01 23:00:00+00:00       0  2021-01-01  23:00:00         NaN

In [8]:
df = pd.DataFrame({'后移':data['太阳能发电量'].shift(1),
                   '前移':data['太阳能发电量'].shift(-1),
                   '当前':data['太阳能发电量']})
df

        后移    前移  当前
0      NaN   0.0   0
1      0.0   0.0   0
2      0.0   0.0   0
3      0.0   0.0   0
4      0.0   0.0   0
...    ...   ...  ..
8755  29.0  29.0  29
8756  29.0  29.0  29
8757  29.0  29.0  29
8758  29.0   0.0  29
8759  29.0   NaN   0

[8760 rows x 3 columns]

In [11]:
df.iloc[9:25]

      后移    前移  当前
9    0.0   0.0   0
10   0.0   0.0   0
11   0.0  10.0   0
12   0.0  20.0  10
13  10.0  30.0  20
14  20.0   0.0  30
15  30.0   0.0   0
16   0.0   0.0   0
17   0.0   0.0   0
18   0.0   0.0   0
19   0.0   0.0   0
20   0.0   0.0   0
21   0.0   0.0   0
22   0.0   0.0   0
23   0.0   0.0   0
24   0.0   0.0   0

In [12]:
def func2(item):
    idx = item['连续的三个小时发电量'].argmax()
    sub = pd.DataFrame({'时间':item['日期'].iloc[idx],
                         '连续3小时累计发电量':item['连续的三个小时发电量'].iloc[idx],
                         '开始时间':item['时分秒'].iloc[idx-1],
                         '结束时间':item['时分秒'].iloc[idx+1]},
                       index = [item['日期'].iloc[idx]])
    return sub
result4 = res.groupby('日期').apply(func2).reset_index(drop = True)
result4.to_csv('./太阳能发电/solar_result4.csv',index = False)
result4

             时间  连续3小时累计发电量      开始时间      结束时间
0    2021-01-01        60.0  12:00:00  14:00:00
1    2021-01-02        77.0  13:00:00  15:00:00
2    2021-01-03        31.0  10:00:00  12:00:00
3    2021-01-04     20978.0  10:00:00  12:00:00
4    2021-01-05        32.0  15:00:00  17:00:00
..          ...         ...       ...       ...
360  2021-12-27     12497.0  10:00:00  12:00:00
361  2021-12-28     12825.0  10:00:00  12:00:00
362  2021-12-29     15003.0  10:00:00  12:00:00
363  2021-12-30     11323.0  10:00:00  12:00:00
364  2021-12-31     15039.0  09:00:00  11:00:00

[365 rows x 4 columns]

### 方式二

In [13]:
import pandas as pd
data = pd.read_csv('./太阳能发电/太阳能发电量分析.csv')
data['时间'] = pd.to_datetime(data['时间'],utc=True)
data

                            时间  太阳能发电量
0    2021-01-01 00:00:00+00:00       0
1    2021-01-01 01:00:00+00:00       0
2    2021-01-01 02:00:00+00:00       0
3    2021-01-01 03:00:00+00:00       0
4    2021-01-01 04:00:00+00:00       0
...                        ...     ...
8755 2021-12-31 19:00:00+00:00      29
8756 2021-12-31 20:00:00+00:00      29
8757 2021-12-31 21:00:00+00:00      29
8758 2021-12-31 22:00:00+00:00      29
8759 2021-12-31 23:00:00+00:00       0

[8760 rows x 2 columns]

In [14]:
data[['日期','时分秒']] = data['时间'].astype(str).str.split(' ',expand=True)
data

                            时间  太阳能发电量          日期             时分秒
0    2021-01-01 00:00:00+00:00       0  2021-01-01  00:00:00+00:00
1    2021-01-01 01:00:00+00:00       0  2021-01-01  01:00:00+00:00
2    2021-01-01 02:00:00+00:00       0  2021-01-01  02:00:00+00:00
3    2021-01-01 03:00:00+00:00       0  2021-01-01  03:00:00+00:00
4    2021-01-01 04:00:00+00:00       0  2021-01-01  04:00:00+00:00
...                        ...     ...         ...             ...
8755 2021-12-31 19:00:00+00:00      29  2021-12-31  19:00:00+00:00
8756 2021-12-31 20:00:00+00:00      29  2021-12-31  20:00:00+00:00
8757 2021-12-31 21:00:00+00:00      29  2021-12-31  21:00:00+00:00
8758 2021-12-31 22:00:00+00:00      29  2021-12-31  22:00:00+00:00
8759 2021-12-31 23:00:00+00:00       0  2021-12-31  23:00:00+00:00

[8760 rows x 4 columns]

In [15]:
data['时分秒'] = data['时分秒'].str.split('+').map(lambda x : x[0])
data

                            时间  太阳能发电量          日期       时分秒
0    2021-01-01 00:00:00+00:00       0  2021-01-01  00:00:00
1    2021-01-01 01:00:00+00:00       0  2021-01-01  01:00:00
2    2021-01-01 02:00:00+00:00       0  2021-01-01  02:00:00
3    2021-01-01 03:00:00+00:00       0  2021-01-01  03:00:00
4    2021-01-01 04:00:00+00:00       0  2021-01-01  04:00:00
...                        ...     ...         ...       ...
8755 2021-12-31 19:00:00+00:00      29  2021-12-31  19:00:00
8756 2021-12-31 20:00:00+00:00      29  2021-12-31  20:00:00
8757 2021-12-31 21:00:00+00:00      29  2021-12-31  21:00:00
8758 2021-12-31 22:00:00+00:00      29  2021-12-31  22:00:00
8759 2021-12-31 23:00:00+00:00       0  2021-12-31  23:00:00

[8760 rows x 4 columns]

In [19]:
def func(item):
    display(item)
    item['累计发电量'] = item.rolling(3,min_periods=1)['太阳能发电量'].sum()
    display(item)
    item['开始时间'] = item['时分秒'].shift(2)
    display(item)
    res = item.sort_values('累计发电量').iloc[-1][['累计发电量','开始时间','时分秒']]
    display(res)
    return res
result = data.set_index('时间').iloc[:48].groupby('日期').apply(func)
result.columns = ['连续3小时累计发电量','开始时间','结束时间']
result.index.name = '时间'
result

                           太阳能发电量          日期       时分秒
时间
2021-01-01 00:00:00+00:00       0  2021-01-01  00:00:00
2021-01-01 01:00:00+00:00       0  2021-01-01  01:00:00
2021-01-01 02:00:00+00:00       0  2021-01-01  02:00:00
2021-01-01 03:00:00+00:00       0  2021-01-01  03:00:00
2021-01-01 04:00:00+00:00       0  2021-01-01  04:00:00
2021-01-01 05:00:00+00:00       0  2021-01-01  05:00:00
2021-01-01 06:00:00+00:00       0  2021-01-01  06:00:00
2021-01-01 07:00:00+00:00       0  2021-01-01  07:00:00
2021-01-01 08:00:00+00:00       0  2021-01-01  08:00:00
2021-01-01 09:00:00+00:00       0  2021-01-01  09:00:00
2021-01-01 10:00:00+00:00       0  2021-01-01  10:00:00
2021-01-01 11:00:00+00:00       0  2021-01-01  11:00:00
2021-01-01 12:00:00+00:00      10  2021-01-01  12:00:00
2021-01-01 13:00:00+00:00      20  2021-01-01  13:00:00
2021-01-01 14:00:00+00:00      30  2021-01-01  14:00:00
2021-01-01 15:00:00+00:00       0  2021-01-01  15:00:00
2021-01-01 16:00:00+00:00       0  2021-01-01  16:00:00
2021-01-01 17:00:00+00:00       0  2021-01-01  17:00:00
2021-01-01 18:00:00+00:00       0  2021-01-01  18:00:00
2021-01-01 19:00:00+00:00       0  2021-01-01  19:00:00
2021-01-01 20:00:00+00:00       0  2021-01-01  20:00:00
2021-01-01 21:00:00+00:00       0  2021-01-01  21:00:00
2021-01-01 22:00:00+00:00       0  2021-01-01  22:00:00
2021-01-01 23:00:00+00:00       0  2021-01-01  23:00:00

                           太阳能发电量          日期       时分秒  累计发电量
时间
2021-01-01 00:00:00+00:00       0  2021-01-01  00:00:00    0.0
2021-01-01 01:00:00+00:00       0  2021-01-01  01:00:00    0.0
2021-01-01 02:00:00+00:00       0  2021-01-01  02:00:00    0.0
2021-01-01 03:00:00+00:00       0  2021-01-01  03:00:00    0.0
2021-01-01 04:00:00+00:00       0  2021-01-01  04:00:00    0.0
2021-01-01 05:00:00+00:00       0  2021-01-01  05:00:00    0.0
2021-01-01 06:00:00+00:00       0  2021-01-01  06:00:00    0.0
2021-01-01 07:00:00+00:00       0  2021-01-01  07:00:00    0.0
2021-01-01 08:00:00+00:00       0  2021-01-01  08:00:00    0.0
2021-01-01 09:00:00+00:00       0  2021-01-01  09:00:00    0.0
2021-01-01 10:00:00+00:00       0  2021-01-01  10:00:00    0.0
2021-01-01 11:00:00+00:00       0  2021-01-01  11:00:00    0.0
2021-01-01 12:00:00+00:00      10  2021-01-01  12:00:00   10.0
2021-01-01 13:00:00+00:00      20  2021-01-01  13:00:00   30.0
2021-01-01 14:00:00+00:00      30  2021-01-01  14:00:00   60.0
2021-01-01 15:00:00+00:00       0  2021-01-01  15:00:00   50.0
2021-01-01 16:00:00+00:00       0  2021-01-01  16:00:00   30.0
2021-01-01 17:00:00+00:00       0  2021-01-01  17:00:00    0.0
2021-01-01 18:00:00+00:00       0  2021-01-01  18:00:00    0.0
2021-01-01 19:00:00+00:00       0  2021-01-01  19:00:00    0.0
2021-01-01 20:00:00+00:00       0  2021-01-01  20:00:00    0.0
2021-01-01 21:00:00+00:00       0  2021-01-01  21:00:00    0.0
2021-01-01 22:00:00+00:00       0  2021-01-01  22:00:00    0.0
2021-01-01 23:00:00+00:00       0  2021-01-01  23:00:00    0.0

                           太阳能发电量          日期       时分秒  累计发电量      开始时间
时间
2021-01-01 00:00:00+00:00       0  2021-01-01  00:00:00    0.0      None
2021-01-01 01:00:00+00:00       0  2021-01-01  01:00:00    0.0      None
2021-01-01 02:00:00+00:00       0  2021-01-01  02:00:00    0.0  00:00:00
2021-01-01 03:00:00+00:00       0  2021-01-01  03:00:00    0.0  01:00:00
2021-01-01 04:00:00+00:00       0  2021-01-01  04:00:00    0.0  02:00:00
2021-01-01 05:00:00+00:00       0  2021-01-01  05:00:00    0.0  03:00:00
2021-01-01 06:00:00+00:00       0  2021-01-01  06:00:00    0.0  04:00:00
2021-01-01 07:00:00+00:00       0  2021-01-01  07:00:00    0.0  05:00:00
2021-01-01 08:00:00+00:00       0  2021-01-01  08:00:00    0.0  06:00:00
2021-01-01 09:00:00+00:00       0  2021-01-01  09:00:00    0.0  07:00:00
2021-01-01 10:00:00+00:00       0  2021-01-01  10:00:00    0.0  08:00:00
2021-01-01 11:00:00+00:00       0  2021-01-01  11:00:00    0.0  09:00:00
2021-01-01 12:00:00+00:00      10  2021-01-01  12:00:00   10.0  10:00:00
2021-01-01 13:00:00+00:00      20  2021-01-01  13:00:00   30.0  11:00:00
2021-01-01 14:00:00+00:00      30  2021-01-01  14:00:00   60.0  12:00:00
2021-01-01 15:00:00+00:00       0  2021-01-01  15:00:00   50.0  13:00:00
2021-01-01 16:00:00+00:00       0  2021-01-01  16:00:00   30.0  14:00:00
2021-01-01 17:00:00+00:00       0  2021-01-01  17:00:00    0.0  15:00:00
2021-01-01 18:00:00+00:00       0  2021-01-01  18:00:00    0.0  16:00:00
2021-01-01 19:00:00+00:00       0  2021-01-01  19:00:00    0.0  17:00:00
2021-01-01 20:00:00+00:00       0  2021-01-01  20:00:00    0.0  18:00:00
2021-01-01 21:00:00+00:00       0  2021-01-01  21:00:00    0.0  19:00:00
2021-01-01 22:00:00+00:00       0  2021-01-01  22:00:00    0.0  20:00:00
2021-01-01 23:00:00+00:00       0  2021-01-01  23:00:00    0.0  21:00:00

累计发电量        60.0
开始时间     12:00:00
时分秒      14:00:00
Name: 2021-01-01 14:00:00+00:00, dtype: object

                           太阳能发电量          日期       时分秒
时间
2021-01-02 00:00:00+00:00       0  2021-01-02  00:00:00
2021-01-02 01:00:00+00:00       0  2021-01-02  01:00:00
2021-01-02 02:00:00+00:00       0  2021-01-02  02:00:00
2021-01-02 03:00:00+00:00       0  2021-01-02  03:00:00
2021-01-02 04:00:00+00:00       0  2021-01-02  04:00:00
2021-01-02 05:00:00+00:00       0  2021-01-02  05:00:00
2021-01-02 06:00:00+00:00       0  2021-01-02  06:00:00
2021-01-02 07:00:00+00:00       0  2021-01-02  07:00:00
2021-01-02 08:00:00+00:00       0  2021-01-02  08:00:00
2021-01-02 09:00:00+00:00       0  2021-01-02  09:00:00
2021-01-02 10:00:00+00:00       0  2021-01-02  10:00:00
2021-01-02 11:00:00+00:00       0  2021-01-02  11:00:00
2021-01-02 12:00:00+00:00       0  2021-01-02  12:00:00
2021-01-02 13:00:00+00:00      12  2021-01-02  13:00:00
2021-01-02 14:00:00+00:00      21  2021-01-02  14:00:00
2021-01-02 15:00:00+00:00      44  2021-01-02  15:00:00
2021-01-02 16:00:00+00:00       0  2021-01-02  16:00:00
2021-01-02 17:00:00+00:00       0  2021-01-02  17:00:00
2021-01-02 18:00:00+00:00       0  2021-01-02  18:00:00
2021-01-02 19:00:00+00:00       0  2021-01-02  19:00:00
2021-01-02 20:00:00+00:00       0  2021-01-02  20:00:00
2021-01-02 21:00:00+00:00       0  2021-01-02  21:00:00
2021-01-02 22:00:00+00:00       0  2021-01-02  22:00:00
2021-01-02 23:00:00+00:00       0  2021-01-02  23:00:00

                           太阳能发电量          日期       时分秒  累计发电量
时间
2021-01-02 00:00:00+00:00       0  2021-01-02  00:00:00    0.0
2021-01-02 01:00:00+00:00       0  2021-01-02  01:00:00    0.0
2021-01-02 02:00:00+00:00       0  2021-01-02  02:00:00    0.0
2021-01-02 03:00:00+00:00       0  2021-01-02  03:00:00    0.0
2021-01-02 04:00:00+00:00       0  2021-01-02  04:00:00    0.0
2021-01-02 05:00:00+00:00       0  2021-01-02  05:00:00    0.0
2021-01-02 06:00:00+00:00       0  2021-01-02  06:00:00    0.0
2021-01-02 07:00:00+00:00       0  2021-01-02  07:00:00    0.0
2021-01-02 08:00:00+00:00       0  2021-01-02  08:00:00    0.0
2021-01-02 09:00:00+00:00       0  2021-01-02  09:00:00    0.0
2021-01-02 10:00:00+00:00       0  2021-01-02  10:00:00    0.0
2021-01-02 11:00:00+00:00       0  2021-01-02  11:00:00    0.0
2021-01-02 12:00:00+00:00       0  2021-01-02  12:00:00    0.0
2021-01-02 13:00:00+00:00      12  2021-01-02  13:00:00   12.0
2021-01-02 14:00:00+00:00      21  2021-01-02  14:00:00   33.0
2021-01-02 15:00:00+00:00      44  2021-01-02  15:00:00   77.0
2021-01-02 16:00:00+00:00       0  2021-01-02  16:00:00   65.0
2021-01-02 17:00:00+00:00       0  2021-01-02  17:00:00   44.0
2021-01-02 18:00:00+00:00       0  2021-01-02  18:00:00    0.0
2021-01-02 19:00:00+00:00       0  2021-01-02  19:00:00    0.0
2021-01-02 20:00:00+00:00       0  2021-01-02  20:00:00    0.0
2021-01-02 21:00:00+00:00       0  2021-01-02  21:00:00    0.0
2021-01-02 22:00:00+00:00       0  2021-01-02  22:00:00    0.0
2021-01-02 23:00:00+00:00       0  2021-01-02  23:00:00    0.0

                           太阳能发电量          日期       时分秒  累计发电量      开始时间
时间
2021-01-02 00:00:00+00:00       0  2021-01-02  00:00:00    0.0      None
2021-01-02 01:00:00+00:00       0  2021-01-02  01:00:00    0.0      None
2021-01-02 02:00:00+00:00       0  2021-01-02  02:00:00    0.0  00:00:00
2021-01-02 03:00:00+00:00       0  2021-01-02  03:00:00    0.0  01:00:00
2021-01-02 04:00:00+00:00       0  2021-01-02  04:00:00    0.0  02:00:00
2021-01-02 05:00:00+00:00       0  2021-01-02  05:00:00    0.0  03:00:00
2021-01-02 06:00:00+00:00       0  2021-01-02  06:00:00    0.0  04:00:00
2021-01-02 07:00:00+00:00       0  2021-01-02  07:00:00    0.0  05:00:00
2021-01-02 08:00:00+00:00       0  2021-01-02  08:00:00    0.0  06:00:00
2021-01-02 09:00:00+00:00       0  2021-01-02  09:00:00    0.0  07:00:00
2021-01-02 10:00:00+00:00       0  2021-01-02  10:00:00    0.0  08:00:00
2021-01-02 11:00:00+00:00       0  2021-01-02  11:00:00    0.0  09:00:00
2021-01-02 12:00:00+00:00       0  2021-01-02  12:00:00    0.0  10:00:00
2021-01-02 13:00:00+00:00      12  2021-01-02  13:00:00   12.0  11:00:00
2021-01-02 14:00:00+00:00      21  2021-01-02  14:00:00   33.0  12:00:00
2021-01-02 15:00:00+00:00      44  2021-01-02  15:00:00   77.0  13:00:00
2021-01-02 16:00:00+00:00       0  2021-01-02  16:00:00   65.0  14:00:00
2021-01-02 17:00:00+00:00       0  2021-01-02  17:00:00   44.0  15:00:00
2021-01-02 18:00:00+00:00       0  2021-01-02  18:00:00    0.0  16:00:00
2021-01-02 19:00:00+00:00       0  2021-01-02  19:00:00    0.0  17:00:00
2021-01-02 20:00:00+00:00       0  2021-01-02  20:00:00    0.0  18:00:00
2021-01-02 21:00:00+00:00       0  2021-01-02  21:00:00    0.0  19:00:00
2021-01-02 22:00:00+00:00       0  2021-01-02  22:00:00    0.0  20:00:00
2021-01-02 23:00:00+00:00       0  2021-01-02  23:00:00    0.0  21:00:00

累计发电量        77.0
开始时间     13:00:00
时分秒      15:00:00
Name: 2021-01-02 15:00:00+00:00, dtype: object

            连续3小时累计发电量      开始时间      结束时间
时间
2021-01-01        60.0  12:00:00  14:00:00
2021-01-02        77.0  13:00:00  15:00:00

In [17]:
result4['连续3小时累计发电量'].values == result['连续3小时累计发电量'].values

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [20]:
data['太阳能发电量']

0        0
1        0
2        0
3        0
4        0
        ..
8755    29
8756    29
8757    29
8758    29
8759     0
Name: 太阳能发电量, Length: 8760, dtype: int64

## <font color='red'>复杂数据比对？（项目实战）</font>

### 查看数据

In [81]:
import numpy as np
import pandas as pd
df_A = pd.read_csv('./A组.csv')
df_B = pd.read_csv('./B组.csv')
display(df_A.head(),df_B.head())

   指标一  指标二  指标三 核心指标    子指标
0  126   83  119  ACU  UNIT1
1   65  138  129  NaN  UNIT2
2   28   23   96  TCU  UNIT1
3  115   96   98  NaN    NaN
4  115  145  123  BCM  UNIT1

   指标一  指标二  指标三 核心指标    子指标
0   65   69   47  ACU  UNIT1
1  125    5   61  NaN  UNIT2
2   60    8   88  TCU  UNIT1
3   17  139   29  NaN    NaN
4   83   53  149  BCM  UNIT1

### 空数据删除

In [82]:
res1 = df_A.iloc[2:,3].dropna()
res2 = df_B.iloc[2:,3].dropna()
display(res1,res2)

2          TCU
4          BCM
7          HUW
9         PWSW
10         CCU
        ...
287       OHCL
290    AFLS_FR
291    AFLS_FL
385        SYT
394       SKKS
Name: 核心指标, Length: 87, dtype: object

2          TCU
4          BCM
9         PWSW
10         CCU
14        MDPS
        ...
291    AFLS_FL
372        WWJ
382        XMX
390      susss
396         DY
Name: 核心指标, Length: 92, dtype: object

### A、B非重核心指标去重

In [83]:
res1.unique()

array(['TCU', 'BCM', 'HUW', 'PWSW', 'CCU', 'MDPS', 'DAU', 'SPW', 'TES',
       'BDC', 'PDC', 'PTE', 'SSD', 'EEE', 'C_MDPS', 'UIP', 'LPL', 'PSI',
       'PSM', 'SBCM_DRV', 'SBCM_AST', 'SHU_FR', 'SHU_RR', 'PTGM', 'RCM',
       'ADAS_PRK', 'ADAS_DRV', 'DDM', 'UWB1', 'UWB3', 'UWB4', 'MLM',
       'ADM', 'RLDM', 'RRUU', 'DPSU', 'APSU', 'RRPSU', 'AFCU_DRV',
       'AFCU_AST', 'AFCU_RL', 'AFCU_RR', 'DPSS', 'APSS', 'RLPSS', 'RRPSS',
       'CCNC', 'MKBD', 'AMP', 'CLB', 'SLB', 'SLB1', 'SLB2', 'SLB3',
       'SLB4', 'POP', 'POP1', 'POP2', 'TPMS', 'TPMS1', 'SBCM_RR',
       'SBCM_RL', 'ILCU_RL', 'ILCU_RR', 'ILCU_FR', 'RR_RDR', 'RR_CMR',
       'FR_RDR', 'HSH', 'RFR', 'EQS', 'LKS', 'SDS', 'CLU', 'LBF1', 'LBF2',
       'LBF3', 'LBF4', 'LBF5', 'LBF6', 'LBF7', 'SSB', 'OHCL', 'AFLS_FR',
       'AFLS_FL', 'SYT', 'SKKS'], dtype=object)

In [84]:
# 集合知识点
s1 = set(res1) # A 就是 s1
s2 = set(res2) # B 就是 s2
print(s1,len(s1))
print(s2,len(s2))

{'SLB', 'RLPSS', 'SLB4', 'RLDM', 'SLB1', 'C_MDPS', 'ADAS_DRV', 'MKBD', 'APSS', 'PTE', 'POP', 'BDC', 'DAU', 'SSD', 'CLB', 'AFCU_AST', 'OHCL', 'PTGM', 'PSM', 'LBF3', 'AFCU_DRV', 'CLU', 'SBCM_RR', 'AFLS_FR', 'RR_RDR', 'LKS', 'EEE', 'LBF2', 'UWB3', 'TPMS', 'LBF1', 'ILCU_FR', 'TES', 'LBF4', 'LPL', 'FR_RDR', 'ADM', 'RR_CMR', 'PWSW', 'RCM', 'BCM', 'SLB3', 'DPSU', 'LBF5', 'EQS', 'APSU', 'LBF7', 'SYT', 'POP2', 'POP1', 'SKKS', 'HSH', 'UWB4', 'UIP', 'SDS', 'SLB2', 'RRUU', 'CCNC', 'SBCM_AST', 'UWB1', 'RRPSU', 'HUW', 'PDC', 'SPW', 'TCU', 'LBF6', 'AFLS_FL', 'MLM', 'AFCU_RR', 'TPMS1', 'ILCU_RL', 'MDPS', 'ADAS_PRK', 'RFR', 'DDM', 'SBCM_DRV', 'AFCU_RL', 'PSI', 'SHU_FR', 'RRPSS', 'SSB', 'ILCU_RR', 'SBCM_RL', 'SHU_RR', 'AMP', 'CCU', 'DPSS'} 87
{'SLB', 'RRDM', 'RLPSS', 'SLB4', 'RLDM', 'SLB1', 'C_MDPS', 'ADAS_DRV', 'MKBD', 'APSS', 'DY', 'PTE', 'POP', 'BDC', 'DAU', 'SSD', 'CLB', 'AFCU_AST', 'OHCL', 'PTGM', 'PSM', 'LBF3', 'AFCU_DRV', 'UWB2', 'XMX', 'CLU', 'SBCM_RR', 'AFLS_FR', 'RR_RDR', 'LKS', 'EEE', 'CCNF', 'LBF2', 'SHVU_FR', 'UWB3', 'TPMS', 'LBF1', 'ILCU_FR', 'TES', 'LBF4', 'LPL', 'FR_RDR', 'ADM', 'RR_CMR', 'PWSW', 'RCM', 'BCM', 'PSD', 'SLB3', 'DPSU', 'LBF5', 'EQS', 'APSU', 'LBF7', 'POP2', 'POP1', 'HSH', 'UWB4', 'UIP', 'SDS', 'SLB2', 'CCNC', 'SBCM_AST', 'UWB1', 'RRPSU', 'PDC', 'SPW', 'TCU', 'LBF6', 'RLPSU', 'AFLS_FL', 'MLM', 'AFCU_RR', 'TPMS1', 'ILCU_RL', 'MDPS', 'ADAS_PRK', 'RFR', 'DDM', 'SBCM_DRV', 'WWJ', 'AFCU_RL', 'SHU_FR', 'RRPSS', 'SSB', 'ILCU_RR', 'SBCM_RL', 'SHU_RR', 'AMP', 'susss', 'CCU', 'DPSS'} 92

### A与B核心指标差异

In [85]:
# A中有B中没有
res3 = s1.difference(s2)
print(res3,len(res3))
# B中有的A没有
res4 = s2.difference(s1)
print(res4,len(res4))

{'RRUU', 'SKKS', 'PSI', 'HUW', 'SYT'} 5
{'CCNF', 'susss', 'RRDM', 'SHVU_FR', 'DY', 'RLPSU', 'UWB2', 'XMX', 'PSD', 'WWJ'} 10

### A与B共同核心指标

In [86]:
# A和B共同指标，交集
res5 = s1.intersection(s2)
print(res5,len(res5))

{'SLB', 'RLPSS', 'SLB4', 'SLB1', 'RLDM', 'C_MDPS', 'ADAS_DRV', 'MKBD', 'APSS', 'PTE', 'POP', 'BDC', 'DAU', 'SSD', 'CLB', 'AFCU_AST', 'OHCL', 'PTGM', 'PSM', 'LBF3', 'AFCU_DRV', 'CLU', 'SBCM_RR', 'AFLS_FR', 'RR_RDR', 'LKS', 'EEE', 'LBF2', 'UWB3', 'TPMS', 'LBF1', 'ILCU_FR', 'TES', 'LBF4', 'LPL', 'FR_RDR', 'ADM', 'RR_CMR', 'PWSW', 'RCM', 'BCM', 'SLB3', 'DPSU', 'LBF5', 'EQS', 'APSU', 'LBF7', 'POP2', 'POP1', 'HSH', 'UWB4', 'UIP', 'SDS', 'SLB2', 'CCNC', 'SBCM_AST', 'UWB1', 'RRPSU', 'PDC', 'SPW', 'TCU', 'LBF6', 'AFLS_FL', 'MLM', 'AFCU_RR', 'TPMS1', 'ILCU_RL', 'MDPS', 'ADAS_PRK', 'RFR', 'DDM', 'SBCM_DRV', 'AFCU_RL', 'SHU_FR', 'RRPSS', 'SSB', 'ILCU_RR', 'SBCM_RL', 'SHU_RR', 'AMP', 'CCU', 'DPSS'} 82

### 指标个数统计

In [87]:
length = res1.size
res1 = [length] + list(res1.values) # A中非重核心指标

length = res2.size
res2 = [length] + list(res2.values) # B中非重核心指标

length = len(res3)
res3 = [length] + list(res3) # A中有B中没有

length = len(res4)
res4 = [length] + list(res4) # B中有A中没有

length = len(res5)
res5 = [length] + list(res5) # A和B中都有的元素，交集

print(res3)

[5, 'RRUU', 'SKKS', 'PSI', 'HUW', 'SYT']

### 长度补齐

In [88]:
# 数据合并，将其变为DataFrame
# 数据长度，不一致，所以报错
result = pd.DataFrame({'A组非重核心指标':res1,'B组非重核心指标':res2,
                       'A组比B组多的指标':res3,'B组比A组多的指标':res4,
                       'A组合和B组共同指标':res5})
result

ValueError: All arrays must be of the same length

In [89]:
# 数据长度补齐
len_max = max([len(res1),len(res2),len(res3),len(res4),len(res5)])

# 将每一个列表，进行长度的补齐，使用空数据，进行补齐
def func(res):
    length = len(res) # 当前长度
    if len_max > length:
        res = res + [np.nan]* (len_max - length)
    return res
res1 = func(res1)
res2 = func(res2)
res3 = func(res3)
res4 = func(res4)
res5 = func(res5)

# 构建DataFrame，并保存
result = pd.DataFrame({'A组非重核心指标':res1,'B组非重核心指标':res2,
                       'A组比B组多的指标':res3,'B组比A组多的指标':res4,
                       'A组合和B组共同指标':res5})

display(result.head(10))
result.to_csv('./数据比对结果.csv',index = False)

  A组非重核心指标 B组非重核心指标 A组比B组多的指标 B组比A组多的指标 A组合和B组共同指标
0       87       92         5        10         82
1      TCU      TCU      RRUU      CCNF        SLB
2      BCM      BCM      SKKS     susss      RLPSS
3      HUW     PWSW       PSI      RRDM       SLB4
4     PWSW      CCU       HUW   SHVU_FR       SLB1
5      CCU     MDPS       SYT        DY       RLDM
6     MDPS      DAU       NaN     RLPSU     C_MDPS
7      DAU      SPW       NaN      UWB2   ADAS_DRV
8      SPW      TES       NaN       XMX       MKBD
9      TES      BDC       NaN       PSD       APSS

##  <font color='red'>企业用电数据处理？（项目实战）</font>

### 数据加载

In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv('./企业用电分析.csv')
display(data.head())
display(data.isna().sum()) # 空数据查看

,编号ID,用电行业,202101,202102,202103,202104,202105,202106,202107,202108,...,202209,202210,202211,202212,202301,202302,202303,202304,202305,202306
0,9070193615X,教育业,32368.00,11033.5,24240.5,19264.00,27067.50,37000.00,41242.0,36206.00,...,23037.00,19821.5,24667.5,30476.50,33664.5,25223.00,25637.00,17911.0,21431.0,26634.0
1,9070193716X,教育业,16912.15,5099.9,8476.6,7891.55,10684.75,10865.45,12260.8,11967.05,...,11489.05,19503.2,13901.8,16184.15,13613.5,120.35,3661.45,1107.2,2183.5,1200.2
2,9070097519X,教育业,9787.00,3084.2,7049.5,5979.50,7480.60,8102.00,9044.5,7773.50,...,6444.10,5536.4,10039.9,12989.60,15400.0,7249.40,5846.80,3983.3,4877.2,4805.6
3,9070001396X,教育业,50340.40,21189.8,19862.5,15824.60,14024.20,18382.70,18401.2,19712.60,...,16299.70,15522.8,25503.1,31519.40,41034.1,28385.30,30186.40,22013.0,27431.8,36815.9
4,9070000995X,教育业,41042.00,18113.0,18090.5,14991.50,14742.50,16019.50,16500.5,16868.00,...,19382.80,21897.8,35271.4,51678.80,54080.2,39678.80,37289.80,23679.2,30920.8,44693.0

编号ID      0
用电行业      0
202101    0
202102    0
202103    0
202104    0
202105    1
202106    2
202107    2
202108    8
202109    7
202110    8
202111    6
202112    4
202201    6
202202    9
202203    2
202204    7
202205    2
202206    3
202207    1
202208    0
202209    0
202210    0
202211    0
202212    0
202301    0
202302    0
202303    0
202304    0
202305    0
202306    0
dtype: int64

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11932 entries, 0 to 11931
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   编号ID    11932 non-null  object
 1   用电行业    11932 non-null  object
 2   202101  11932 non-null  float64
 3   202102  11932 non-null  float64
 4   202103  11932 non-null  float64
 5   202104  11932 non-null  float64
 6   202105  11931 non-null  float64
 7   202106  11930 non-null  float64
 8   202107  11930 non-null  float64
 9   202108  11924 non-null  float64
 10  202109  11925 non-null  float64
 11  202110  11924 non-null  float64
 12  202111  11926 non-null  float64
 13  202112  11928 non-null  float64
 14  202201  11926 non-null  float64
 15  202202  11923 non-null  float64
 16  202203  11930 non-null  float64
 17  202204  11925 non-null  float64
 18  202205  11930 non-null  float64
 19  202206  11929 non-null  float64
 20  202207  11931 non-null  float64
 21  202208  11932 non-null  float64
 22  202209  11932 non-null  float64
 23  202210  11932 non-null  float64
 24  202211  11932 non-null  float64
 25  202212  11932 non-null  float64
 26  202301  11932 non-null  float64
 27  202302  11932 non-null  float64
 28  202303  11932 non-null  float64
 29  202304  11932 non-null  float64
 30  202305  11932 non-null  float64
 31  202306  11932 non-null  float64
dtypes: float64(30), object(2)
memory usage: 2.9+ MB

### 数据处理

In [7]:
cols = data.columns[2:] # 用电月份
# 数据转换函数
def func(item): # 这里的item是DataFrame
#     display(item)
    m = item.median(axis = 1) # Series,中位数
    upper_limit = item.quantile(0.95,axis = 1) # Series
    lower_limit = item.quantile(0.05,axis = 1) # Series
#     display('-----',m,upper_limit,lower_limit) # 查看数据
    c1 = item > upper_limit.values[0] # 大于95%条件，DataFrame
    c2 = item < lower_limit.values[0] # 小于5%条件，DataFrame
#     display('*****',c1)
#     display('+++++',c1.T.sum(),c2.T.sum()) # 查看数据
    cond = c1.T | c2.T # 条件或运算，这里的cond是一个DataFrame
#     display('*****',cond,cond.sum()) # 查看数据
    item_T = item.T # 行变列，转置
#     display(item_T)
    item_T[cond.iloc[:,0]] = m
#     display(item_T) # 查看数据
    item = item_T.T # 上面操作结束，异常值，处理了
#     display(item)
    # 同时针对缺失值进行处理，利用前后各一个非空值的算术平均值进行填充
    item = (item.bfill(axis = 1) + item.ffill(axis = 1))/2
    return item # 数据返回


result = data.groupby('编号ID')[cols].apply(func) # apply函数，那么传递给func的item是DataFrame
display('=====',result)
result.sort_index(level=-1,inplace=True)
result.reset_index(drop = True,inplace = True) # 将索引删除

result = pd.concat([data.iloc[:,:2],result],axis = 1)
result.to_csv('./企业用电数据处理(答案).csv',index = False)
result

'====='

,,202101,202102,202103,202104,202105,202106,202107,202108,202109,202110,...,202209,202210,202211,202212,202301,202302,202303,202304,202305,202306
编号ID,,,,,,,,,,,,,,,,,,,,,,
9070000007X,3531,3249.150,3922.400,4032.55,2060.60,2901.25,3126.20,4347.40,3683.00,3508.75,2110.10,...,2653.60,2058.950,3968.65,2886.50,4574.800,3409.10,3372.100,3249.150,2730.25,3044.15
9070000390X,890,8743.275,8743.275,11950.00,11992.00,8144.00,8870.55,10408.00,10416.00,9734.00,7652.00,...,8248.00,8032.000,9956.00,12856.00,8743.275,8616.00,9436.000,5576.000,7938.00,7488.00
9070000803X,892,8182.600,2347.850,6343.00,4013.45,5000.05,5637.80,6704.95,5021.75,6715.15,3132.20,...,3715.30,5270.225,6639.10,7579.40,5270.225,5342.00,4898.200,5270.225,2783.20,3258.95
9070000897X,891,4536.000,3524.000,3390.00,2192.00,3672.00,3666.00,4954.00,3974.00,3938.00,2350.00,...,4336.00,2330.000,3218.00,2474.00,3300.000,3524.00,3278.000,2220.000,3546.00,3502.00
9070000995X,4,41042.000,18113.000,18090.50,14991.50,14742.50,16019.50,16500.50,16868.00,19492.80,22117.60,...,19382.80,21897.800,35271.40,22117.60,22117.600,39678.80,37289.800,23679.200,30920.80,44693.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9799979387X,10537,3660.100,3140.000,3660.10,4350.20,5032.60,3510.80,4603.60,3245.00,4378.60,3839.60,...,3472.60,2996.600,3663.40,3406.40,4717.000,2426.00,3656.800,2165.600,3143.20,3660.10
9799986954X,5307,1028.520,17779.255,6061.43,6922.12,5196.74,3226.59,8029.17,3481.59,6391.95,7677.07,...,18878.21,26369.430,12180.33,22876.03,17152.590,18329.62,17779.255,24343.660,24926.10,20667.93
9799990997X,10374,3069.750,2200.680,2958.97,3069.75,2874.57,2296.19,3248.13,2266.03,2810.98,1932.47,...,3538.01,3090.770,5531.50,5816.01,3069.750,4937.96,5884.370,2982.170,3683.90,3048.73
9799996714X,10219,2645.630,1283.580,1988.04,2156.53,1693.74,1361.29,2768.86,2090.96,2074.06,1748.84,...,2195.78,885.340,2273.88,2406.75,2156.530,2388.34,2240.960,920.670,2158.78,2198.01
9799999016X,2680,5632.000,7030.000,4186.00,7030.00,4330.00,5420.00,7030.00,6521.00,5953.00,4010.00,...,7030.00,6599.000,12226.00,7030.00,7030.000,10328.00,10021.000,5468.000,7090.00,12089.00

,编号ID,用电行业,202101,202102,202103,202104,202105,202106,202107,202108,...,202209,202210,202211,202212,202301,202302,202303,202304,202305,202306
0,9070193615X,教育业,32368.00,26135.500,24240.500,19264.000,27067.50,37000.00,26135.50,36206.000,...,23037.00,19821.500,24667.50,30476.50,33664.500,25223.00,25637.000,17911.000,21431.00,26634.00
1,9070193716X,教育业,16912.15,5099.900,8476.600,7891.550,10684.75,10865.45,12260.80,11967.050,...,11489.05,11291.050,13901.80,16184.15,13613.500,11291.05,3661.450,11291.050,2183.50,1200.20
2,9070097519X,教育业,9787.00,7262.600,7049.500,5979.500,7480.60,8102.00,9044.50,7773.500,...,6444.10,5536.400,10039.90,12989.60,7262.600,7249.40,5846.800,7262.600,4877.20,4805.60
3,9070001396X,教育业,21013.05,21189.800,19862.500,15824.600,14024.20,18382.70,18401.20,19712.600,...,16299.70,15522.800,25503.10,31519.40,21013.050,28385.30,30186.400,22013.000,27431.80,36815.90
4,9070000995X,教育业,41042.00,18113.000,18090.500,14991.500,14742.50,16019.50,16500.50,16868.000,...,19382.80,21897.800,35271.40,22117.60,22117.600,39678.80,37289.800,23679.200,30920.80,44693.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11927,9078537750X,供暖业,1420.15,1190.325,1190.325,437.300,1409.80,463.25,1344.85,1190.325,...,1411.00,430.400,1552.60,464.90,1514.800,462.20,1533.400,453.950,1415.65,449.90
11928,9366410119X,供暖业,2442.58,1148.560,1806.150,327.820,1463.54,361.62,1341.68,324.410,...,1285.71,619.820,2382.53,2139.78,1313.695,2225.29,1313.695,917.170,1499.11,397.76
11929,9549405189X,供暖业,1752.00,752.000,1876.740,842.000,1808.00,761.00,1510.50,845.000,...,1758.00,732.000,1824.00,701.00,1765.000,1510.50,1704.000,697.000,1711.00,706.00
11930,9598997006X,供暖业,1304.48,287.110,1327.910,1268.045,1274.44,292.77,1824.15,504.760,...,1452.04,825.310,1368.00,279.09,1349.100,282.35,1308.140,1268.045,1364.27,351.12
11931,9737794947X,供暖业,4230.74,3299.570,3016.910,1036.070,1772.75,1321.15,2627.44,1661.150,...,1787.69,2449.765,3600.77,3386.76,2449.765,2778.76,3356.640,677.090,1705.60,1493.37

In [8]:
data

,编号ID,用电行业,202101,202102,202103,202104,202105,202106,202107,202108,...,202209,202210,202211,202212,202301,202302,202303,202304,202305,202306
0,9070193615X,教育业,32368.00,11033.50,24240.50,19264.00,27067.50,37000.00,41242.00,36206.00,...,23037.00,19821.50,24667.50,30476.50,33664.50,25223.00,25637.00,17911.00,21431.00,26634.00
1,9070193716X,教育业,16912.15,5099.90,8476.60,7891.55,10684.75,10865.45,12260.80,11967.05,...,11489.05,19503.20,13901.80,16184.15,13613.50,120.35,3661.45,1107.20,2183.50,1200.20
2,9070097519X,教育业,9787.00,3084.20,7049.50,5979.50,7480.60,8102.00,9044.50,7773.50,...,6444.10,5536.40,10039.90,12989.60,15400.00,7249.40,5846.80,3983.30,4877.20,4805.60
3,9070001396X,教育业,50340.40,21189.80,19862.50,15824.60,14024.20,18382.70,18401.20,19712.60,...,16299.70,15522.80,25503.10,31519.40,41034.10,28385.30,30186.40,22013.00,27431.80,36815.90
4,9070000995X,教育业,41042.00,18113.00,18090.50,14991.50,14742.50,16019.50,16500.50,16868.00,...,19382.80,21897.80,35271.40,51678.80,54080.20,39678.80,37289.80,23679.20,30920.80,44693.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11927,9078537750X,供暖业,1420.15,364.40,1713.85,437.30,1409.80,463.25,1344.85,383.75,...,1411.00,430.40,1552.60,464.90,1514.80,462.20,1533.40,453.95,1415.65,449.90
11928,9366410119X,供暖业,2442.58,1148.56,1806.15,327.82,1463.54,361.62,1341.68,324.41,...,1285.71,619.82,2382.53,2139.78,3560.68,2225.29,3063.16,917.17,1499.11,397.76
11929,9549405189X,供暖业,1752.00,752.00,1876.74,842.00,1808.00,761.00,1896.00,845.00,...,1758.00,732.00,1824.00,701.00,1765.00,609.00,1704.00,697.00,1711.00,706.00
11930,9598997006X,供暖业,1304.48,287.11,1327.91,259.73,1274.44,292.77,1824.15,504.76,...,1452.04,825.31,1368.00,279.09,1349.10,282.35,1308.14,4650.19,1364.27,351.12
11931,9737794947X,供暖业,4230.74,3299.57,3016.91,1036.07,1772.75,1321.15,2627.44,1661.15,...,1787.69,656.49,3600.77,3386.76,4432.93,2778.76,3356.64,677.09,1705.60,1493.37

## <font color='red'>用电企业繁荣指数与衰退指数统计？（项目实战）</font>

统计不同行业2022年9月份的繁荣指数和衰退指数  

* 繁荣指数=月度用电量超过去年同期的企业数量/该行业总用户数量$*$100%   



* 衰退指数=月度用电量小于去年同期用电量20%的小微企业数量/行业用户数量$*$100%）  

计算结果保留2位小数，并按照超产率降序排序。

In [9]:
import numpy as np
import pandas as pd
data = pd.read_csv('企业用电数据处理(答案).csv')
data

,编号ID,用电行业,202101,202102,202103,202104,202105,202106,202107,202108,...,202209,202210,202211,202212,202301,202302,202303,202304,202305,202306
0,9070193615X,教育业,32368.00,26135.500,24240.500,19264.000,27067.50,37000.00,26135.50,36206.000,...,23037.00,19821.500,24667.50,30476.50,33664.500,25223.00,25637.000,17911.000,21431.00,26634.00
1,9070193716X,教育业,16912.15,5099.900,8476.600,7891.550,10684.75,10865.45,12260.80,11967.050,...,11489.05,11291.050,13901.80,16184.15,13613.500,11291.05,3661.450,11291.050,2183.50,1200.20
2,9070097519X,教育业,9787.00,7262.600,7049.500,5979.500,7480.60,8102.00,9044.50,7773.500,...,6444.10,5536.400,10039.90,12989.60,7262.600,7249.40,5846.800,7262.600,4877.20,4805.60
3,9070001396X,教育业,21013.05,21189.800,19862.500,15824.600,14024.20,18382.70,18401.20,19712.600,...,16299.70,15522.800,25503.10,31519.40,21013.050,28385.30,30186.400,22013.000,27431.80,36815.90
4,9070000995X,教育业,41042.00,18113.000,18090.500,14991.500,14742.50,16019.50,16500.50,16868.000,...,19382.80,21897.800,35271.40,22117.60,22117.600,39678.80,37289.800,23679.200,30920.80,44693.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11927,9078537750X,供暖业,1420.15,1190.325,1190.325,437.300,1409.80,463.25,1344.85,1190.325,...,1411.00,430.400,1552.60,464.90,1514.800,462.20,1533.400,453.950,1415.65,449.90
11928,9366410119X,供暖业,2442.58,1148.560,1806.150,327.820,1463.54,361.62,1341.68,324.410,...,1285.71,619.820,2382.53,2139.78,1313.695,2225.29,1313.695,917.170,1499.11,397.76
11929,9549405189X,供暖业,1752.00,752.000,1876.740,842.000,1808.00,761.00,1510.50,845.000,...,1758.00,732.000,1824.00,701.00,1765.000,1510.50,1704.000,697.000,1711.00,706.00
11930,9598997006X,供暖业,1304.48,287.110,1327.910,1268.045,1274.44,292.77,1824.15,504.760,...,1452.04,825.310,1368.00,279.09,1349.100,282.35,1308.140,1268.045,1364.27,351.12
11931,9737794947X,供暖业,4230.74,3299.570,3016.910,1036.070,1772.75,1321.15,2627.44,1661.150,...,1787.69,2449.765,3600.77,3386.76,2449.765,2778.76,3356.640,677.090,1705.60,1493.37

In [10]:
def func(item): # item 是DataFrame
    return pd.Series([sum(item['202209'] > item['202109'])*100/item.shape[0],
                      sum(item['202209'] < item['202109']*0.2)*100/item.shape[0]],
                     index=['繁荣指数（%）', '衰退指数（%）'])
result = data.groupby('用电行业').apply(func).round(2)
display(result)
result.sort_values(by = '繁荣指数（%）',ascending=False,inplace=True)
result.to_csv('./企业用电繁荣与衰退指数统计(答案).csv',index = False)
result

       繁荣指数（%）  衰退指数（%）
用电行业
IT行业     37.14     0.00
人工智能     55.88     0.00
供暖业      49.12     0.44
制冷业      50.00     0.00
卫生服务业    46.85     0.43
娱乐业      47.95     0.35
批发零售     47.06     0.00
教育业      45.91     1.50
煤矿业      44.76     0.23
物流业      46.15     0.40
第一产业     60.00     0.00
第三产业     44.70     0.62
第二产业     37.05     0.36
船运业      45.85     0.98
银行业      30.42     0.00
零售业      45.74     2.13

       繁荣指数（%）  衰退指数（%）
用电行业
第一产业     60.00     0.00
人工智能     55.88     0.00
制冷业      50.00     0.00
供暖业      49.12     0.44
娱乐业      47.95     0.35
批发零售     47.06     0.00
卫生服务业    46.85     0.43
物流业      46.15     0.40
教育业      45.91     1.50
船运业      45.85     0.98
零售业      45.74     2.13
煤矿业      44.76     0.23
第三产业     44.70     0.62
IT行业     37.14     0.00
第二产业     37.05     0.36
银行业      30.42     0.00

## <font color='red'>企业用电量连续三个月累计汇总？（项目实战）</font>

统计每个用户的 <font color='red'>t-2</font> 至 <font color = 'red'>t</font> 时段的总用电量 

* t表示当前时刻

* 如:2022年12月统计的窗口为2022年10月至2022年12月, 2023年6月统计的窗口为2023年4月至2023年6月 

* 空数据填充规则：
   * 起始月使用原数据填充;
   * 第二个月空数据使用前两个月用电量之和填充；

In [11]:
import pandas as pd
data = pd.read_csv('./企业用电数据处理(答案).csv')
data

,编号ID,用电行业,202101,202102,202103,202104,202105,202106,202107,202108,...,202209,202210,202211,202212,202301,202302,202303,202304,202305,202306
0,9070193615X,教育业,32368.00,26135.500,24240.500,19264.000,27067.50,37000.00,26135.50,36206.000,...,23037.00,19821.500,24667.50,30476.50,33664.500,25223.00,25637.000,17911.000,21431.00,26634.00
1,9070193716X,教育业,16912.15,5099.900,8476.600,7891.550,10684.75,10865.45,12260.80,11967.050,...,11489.05,11291.050,13901.80,16184.15,13613.500,11291.05,3661.450,11291.050,2183.50,1200.20
2,9070097519X,教育业,9787.00,7262.600,7049.500,5979.500,7480.60,8102.00,9044.50,7773.500,...,6444.10,5536.400,10039.90,12989.60,7262.600,7249.40,5846.800,7262.600,4877.20,4805.60
3,9070001396X,教育业,21013.05,21189.800,19862.500,15824.600,14024.20,18382.70,18401.20,19712.600,...,16299.70,15522.800,25503.10,31519.40,21013.050,28385.30,30186.400,22013.000,27431.80,36815.90
4,9070000995X,教育业,41042.00,18113.000,18090.500,14991.500,14742.50,16019.50,16500.50,16868.000,...,19382.80,21897.800,35271.40,22117.60,22117.600,39678.80,37289.800,23679.200,30920.80,44693.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11927,9078537750X,供暖业,1420.15,1190.325,1190.325,437.300,1409.80,463.25,1344.85,1190.325,...,1411.00,430.400,1552.60,464.90,1514.800,462.20,1533.400,453.950,1415.65,449.90
11928,9366410119X,供暖业,2442.58,1148.560,1806.150,327.820,1463.54,361.62,1341.68,324.410,...,1285.71,619.820,2382.53,2139.78,1313.695,2225.29,1313.695,917.170,1499.11,397.76
11929,9549405189X,供暖业,1752.00,752.000,1876.740,842.000,1808.00,761.00,1510.50,845.000,...,1758.00,732.000,1824.00,701.00,1765.000,1510.50,1704.000,697.000,1711.00,706.00
11930,9598997006X,供暖业,1304.48,287.110,1327.910,1268.045,1274.44,292.77,1824.15,504.760,...,1452.04,825.310,1368.00,279.09,1349.100,282.35,1308.140,1268.045,1364.27,351.12
11931,9737794947X,供暖业,4230.74,3299.570,3016.910,1036.070,1772.75,1321.15,2627.44,1661.150,...,1787.69,2449.765,3600.77,3386.76,2449.765,2778.76,3356.640,677.090,1705.60,1493.37

In [12]:
data.set_index('编号ID',inplace=True)
display(data)

,用电行业,202101,202102,202103,202104,202105,202106,202107,202108,202109,...,202209,202210,202211,202212,202301,202302,202303,202304,202305,202306
编号ID,,,,,,,,,,,,,,,,,,,,,
9070193615X,教育业,32368.00,26135.500,24240.500,19264.000,27067.50,37000.00,26135.50,36206.000,27144.500,...,23037.00,19821.500,24667.50,30476.50,33664.500,25223.00,25637.000,17911.000,21431.00,26634.00
9070193716X,教育业,16912.15,5099.900,8476.600,7891.550,10684.75,10865.45,12260.80,11967.050,10534.150,...,11489.05,11291.050,13901.80,16184.15,13613.500,11291.05,3661.450,11291.050,2183.50,1200.20
9070097519X,教育业,9787.00,7262.600,7049.500,5979.500,7480.60,8102.00,9044.50,7773.500,7262.600,...,6444.10,5536.400,10039.90,12989.60,7262.600,7249.40,5846.800,7262.600,4877.20,4805.60
9070001396X,教育业,21013.05,21189.800,19862.500,15824.600,14024.20,18382.70,18401.20,19712.600,15606.400,...,16299.70,15522.800,25503.10,31519.40,21013.050,28385.30,30186.400,22013.000,27431.80,36815.90
9070000995X,教育业,41042.00,18113.000,18090.500,14991.500,14742.50,16019.50,16500.50,16868.000,19492.800,...,19382.80,21897.800,35271.40,22117.60,22117.600,39678.80,37289.800,23679.200,30920.80,44693.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9078537750X,供暖业,1420.15,1190.325,1190.325,437.300,1409.80,463.25,1344.85,1190.325,1190.325,...,1411.00,430.400,1552.60,464.90,1514.800,462.20,1533.400,453.950,1415.65,449.90
9366410119X,供暖业,2442.58,1148.560,1806.150,327.820,1463.54,361.62,1341.68,324.410,1258.490,...,1285.71,619.820,2382.53,2139.78,1313.695,2225.29,1313.695,917.170,1499.11,397.76
9549405189X,供暖业,1752.00,752.000,1876.740,842.000,1808.00,761.00,1510.50,845.000,1848.000,...,1758.00,732.000,1824.00,701.00,1765.000,1510.50,1704.000,697.000,1711.00,706.00
9598997006X,供暖业,1304.48,287.110,1327.910,1268.045,1274.44,292.77,1824.15,504.760,1481.270,...,1452.04,825.310,1368.00,279.09,1349.100,282.35,1308.140,1268.045,1364.27,351.12
9737794947X,供暖业,4230.74,3299.570,3016.910,1036.070,1772.75,1321.15,2627.44,1661.150,2367.500,...,1787.69,2449.765,3600.77,3386.76,2449.765,2778.76,3356.640,677.090,1705.60,1493.37

In [13]:
data.iloc[:,1:].T

编号ID,9070193615X,9070193716X,9070097519X,9070001396X,9070000995X,9070007134X,9070008890X,9070039089X,9070031687X,9074159380X,...,9747087346X,9077999894X,9077991113X,9077991171X,9078919184X,9078537750X,9366410119X,9549405189X,9598997006X,9737794947X
202101,32368.0,16912.15,9787.0,21013.05,41042.0,6509.0,41253.10,29810.5,66340.6,12243.70,...,6217.865,8592.0,5002.0,7236.0,1537.6,1420.150,2442.580,1752.00,1304.480,4230.740
202102,26135.5,5099.90,7262.6,21189.80,18113.0,6166.8,32518.05,30516.7,68229.9,10666.86,...,6217.865,9485.0,3206.0,5092.0,2361.2,1190.325,1148.560,752.00,287.110,3299.570
202103,24240.5,8476.60,7049.5,19862.50,18090.5,4878.8,32824.90,23278.0,62618.8,12023.51,...,3847.450,8540.0,4416.0,5240.0,2679.0,1190.325,1806.150,1876.74,1327.910,3016.910
202104,19264.0,7891.55,5979.5,15824.60,14991.5,6509.0,44473.40,24092.3,56077.4,12266.52,...,3762.650,9485.0,3884.0,3774.0,733.0,437.300,327.820,842.00,1268.045,1036.070
202105,27067.5,10684.75,7480.6,14024.20,14742.5,4203.2,47656.90,30703.3,65842.6,9029.91,...,6548.190,7510.0,4258.0,5068.0,1503.0,1409.800,1463.540,1808.00,1274.440,1772.750
202106,37000.0,10865.45,8102.0,18382.70,16019.5,5260.0,44995.40,30516.7,70119.2,7047.95,...,6591.650,14054.0,4494.0,6070.0,630.8,463.250,361.620,761.00,292.770,1321.150
202107,26135.5,12260.80,9044.5,18401.20,16500.5,7266.4,45927.70,30796.9,77041.0,6159.49,...,6217.865,15078.0,4248.0,7528.0,1537.4,1344.850,1341.680,1510.50,1824.150,2627.440
202108,36206.0,11967.05,7773.5,19712.60,16868.0,6851.2,32518.05,33656.3,78065.6,8871.55,...,6411.420,13494.0,5578.0,6974.0,855.2,1190.325,324.410,845.00,504.760,1661.150
202109,27144.5,10534.15,7262.6,15606.40,19492.8,5109.2,29996.00,35311.0,78872.2,7760.43,...,6947.870,11066.0,5032.0,6154.0,1537.8,1190.325,1258.490,1848.00,1481.270,2367.500
202110,21311.0,7013.75,5780.3,13114.70,22117.6,3335.6,23347.60,29432.3,58536.2,10820.65,...,6388.710,6412.0,3682.0,6336.0,1537.6,490.400,597.800,909.00,455.970,1073.250
202111,30763.0,12389.95,8449.9,22671.70,21937.6,9758.4,34460.00,33781.0,65447.8,8871.55,...,6217.865,8986.0,5856.0,6748.0,2719.2,1379.800,2148.420,1746.00,1299.960,3659.530
202112,26135.5,11291.05,9650.3,25770.20,43257.8,18828.8,32518.05,32573.5,68229.9,11426.47,...,6708.830,8582.0,4310.0,7276.0,2806.4,467.000,1484.570,745.00,328.390,3785.680
202201,21540.5,11093.05,6538.9,20836.30,32835.4,6038.8,35283.20,31366.0,58703.8,8871.55,...,7265.380,10578.0,5164.0,7816.0,2949.6,1519.000,2039.230,1872.00,1261.650,2449.765
202202,26135.5,9267.65,5982.2,21013.05,14208.8,9430.0,32518.05,23834.3,68229.9,9392.39,...,5790.840,6770.0,3532.0,6188.0,1224.4,1035.800,511.900,1317.00,1268.045,2766.400
202203,28126.0,13277.65,8984.2,16531.60,22117.6,8487.6,29600.40,35660.8,81149.8,9616.60,...,7449.070,8400.0,5480.0,6244.0,2574.4,1475.200,2307.480,1704.00,1293.200,3750.180
202204,38863.5,9110.00,6241.1,21013.05,22117.6,6509.0,25335.20,29521.1,65889.2,7809.00,...,6107.580,6474.0,3680.0,6336.0,571.2,389.750,450.030,677.00,280.140,2449.765
202205,21955.0,12859.60,7232.8,18640.90,17302.6,4850.4,28970.40,34534.3,72767.2,9038.93,...,6818.530,8366.0,4782.0,5326.0,1453.6,1490.200,1256.720,1891.00,1268.045,1630.590
202206,24233.5,12801.05,7275.8,21920.00,23636.0,7887.6,31880.00,30516.7,83601.8,5990.65,...,5244.760,13092.0,5154.0,6276.0,597.6,431.600,1313.695,869.00,287.750,1217.430
202207,29588.5,15695.35,9577.3,24928.00,28123.0,9272.8,34742.00,34900.3,83321.8,6289.49,...,6607.390,9485.0,4248.0,6336.0,1682.8,1487.650,1359.260,1510.50,1365.080,2532.030
202208,28085.0,13812.35,7819.7,23114.00,28186.4,7881.2,26173.20,34506.5,78248.6,6607.41,...,5525.030,17558.0,5778.0,7610.0,1537.6,438.800,1313.695,1510.50,348.000,1407.270
202209,23037.0,11489.05,6444.1,16299.70,19382.8,5586.8,23884.80,31737.4,73255.6,8720.33,...,6304.200,9984.0,4238.0,5860.0,1417.8,1411.000,1285.710,1758.00,1452.040,1787.690
202210,19821.5,11291.05,5536.4,15522.80,21897.8,4275.6,32211.20,27518.0,61141.4,8383.88,...,5175.530,8748.0,760.0,4144.0,679.0,430.400,619.820,732.00,825.310,2449.765
202211,24667.5,13901.80,10039.9,25503.10,35271.4,11394.4,43784.80,25314.4,65707.6,9022.77,...,6150.110,11572.0,1694.0,7874.0,4222.6,1552.600,2382.530,1824.00,1368.000,3600.770
202212,30476.5,16184.15,12989.6,31519.40,22117.6,18080.4,70900.00,26057.3,85438.4,8375.66,...,5505.900,10298.0,734.0,8306.0,3499.8,464.900,2139.780,701.00,279.090,3386.760
202301,33664.5,13613.50,7262.6,21013.05,22117.6,6509.0,46404.80,25363.3,68229.9,11926.99,...,6488.020,10698.0,1668.0,6336.0,1537.6,1514.800,1313.695,1765.00,1349.100,2449.765
202302,25223.0,11291.05,7249.4,28385.30,39678.8,14127.6,31352.00,30516.7,61538.6,6218.59,...,4907.680,7256.0,4248.0,6546.0,2648.4,462.200,2225.290,1510.50,282.350,2778.760
202303,25637.0,3661.45,5846.8,30186.40,37289.8,10375.6,37345.20,29363.5,72274.0,9905.60,...,6285.620,12168.0,1740.0,8632.0,3210.4,1533.400,1313.695,1704.00,1308.140,3356.640
202304,17911.0,11291.05,7262.6,22013.00,23679.2,3721.2,24342.00,27146.3,55476.8,7368.05,...,4935.640,6968.0,4248.0,4166.0,772.6,453.950,917.170,697.00,1268.045,677.090
202305,21431.0,2183.50,4877.2,27431.80,30920.8,3899.2,26274.40,30516.7,64069.6,5922.96,...,6102.220,10272.0,1714.0,6396.0,1834.4,1415.650,1499.110,1711.00,1364.270,1705.600
202306,26634.0,1200.20,4805.6,36815.90,44693.0,4072.4,29168.40,32884.7,79068.2,8871.55,...,4892.750,9485.0,780.0,7962.0,1018.6,449.900,397.760,706.00,351.120,1493.370

In [14]:
# 第一步，连续三个月用电量滚动求和
# 行
result = data.iloc[:,1:].T.rolling(3).sum()
display(result)

编号ID,9070193615X,9070193716X,9070097519X,9070001396X,9070000995X,9070007134X,9070008890X,9070039089X,9070031687X,9074159380X,...,9747087346X,9077999894X,9077991113X,9077991171X,9078919184X,9078537750X,9366410119X,9549405189X,9598997006X,9737794947X
202101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202103,82744.0,30488.65,24099.1,62065.35,77245.5,17554.6,106596.05,83605.2,197189.3,34934.07,...,16283.180,26617.0,12624.0,17568.0,6577.8,3800.800,5397.290,4380.74,2919.500,10547.220
202104,69640.0,21468.05,20291.6,56876.90,51195.0,17554.6,109816.35,77887.0,186926.1,34956.89,...,13827.965,27510.0,11506.0,14106.0,5773.2,2817.950,3282.530,3470.74,2883.065,7352.550
202105,70572.0,27052.90,20509.6,49711.30,47824.5,15591.0,124955.20,78073.6,184538.8,33319.94,...,14158.290,25535.0,12558.0,14082.0,4915.0,3037.425,3597.510,4526.74,3870.395,5825.730
202106,83331.5,29441.75,21562.1,48231.50,45753.5,15972.2,137125.70,85312.3,192039.2,28344.38,...,16902.490,31049.0,12636.0,14912.0,2866.8,2310.350,2152.980,3411.00,2835.255,4129.970
202107,90203.0,33811.00,24627.1,50808.10,47262.5,16729.6,138580.00,92016.9,213002.8,22237.35,...,19357.705,36642.0,13000.0,18666.0,3671.2,3217.900,3166.840,4079.50,3391.360,5721.340
202108,99341.5,35093.30,24920.0,56496.50,49388.0,19377.6,123441.15,94969.9,225225.8,22078.99,...,19220.935,42626.0,14320.0,20572.0,3023.4,2998.425,2027.710,3116.50,2621.680,5609.740
202109,89486.0,34762.00,24080.6,53720.20,52861.3,19226.8,108441.75,99764.2,233978.8,22791.47,...,19577.155,39638.0,14858.0,20656.0,3930.4,3725.500,2924.580,4203.50,3810.180,6656.090
202110,84661.5,29514.95,20816.4,48433.70,58478.4,15296.0,85861.65,98399.6,215474.0,27452.63,...,19748.000,30972.0,14292.0,19464.0,3930.6,2871.050,2180.700,3602.00,2442.000,5101.900
202111,79218.5,29937.85,21492.8,51392.80,63548.0,18203.2,87803.60,98524.3,202856.2,27452.63,...,19554.445,26464.0,14570.0,19238.0,5794.6,3060.525,4004.710,4503.00,3237.200,7100.280
202112,78209.5,30694.75,23880.5,61556.60,87313.0,31922.8,90325.65,95786.8,192213.9,31118.67,...,19315.405,23980.0,13848.0,20360.0,7063.2,2337.200,4230.790,3400.00,2084.320,8518.460
202201,78439.0,34774.05,24639.1,69278.20,98030.8,34626.0,102261.25,97720.5,192381.5,29169.57,...,20192.075,28146.0,15330.0,21840.0,8475.2,3365.800,5672.220,4363.00,2890.000,9894.975
202202,73811.5,31651.75,22171.4,67619.55,90302.0,34297.6,100319.30,87773.8,195163.6,29690.41,...,19765.050,25930.0,13006.0,21280.0,6980.4,3021.800,4035.700,3934.00,2858.085,9001.845
202203,75802.0,33638.35,21505.3,58380.95,69161.8,23956.4,97401.65,90861.1,208083.5,27880.54,...,20505.290,25748.0,14176.0,20248.0,6748.4,4030.000,4858.610,4893.00,3822.895,8966.345
202204,93125.0,31655.30,21207.5,58557.70,58444.0,24426.6,87453.65,89016.2,215268.9,26817.99,...,19347.490,21644.0,12692.0,18768.0,4370.0,2900.750,3269.410,3698.00,2841.385,8966.345
202205,88944.5,35247.25,22458.1,56185.55,61537.8,19847.0,83906.00,99716.2,219806.2,26464.53,...,20375.180,23240.0,13942.0,17906.0,4599.2,3355.150,4014.230,4272.00,2841.385,7830.535
202206,85052.0,34770.65,20749.7,61573.95,63056.2,19247.0,86185.60,94572.1,222258.2,22838.58,...,18170.870,27932.0,13616.0,17938.0,2622.4,2311.550,3020.445,3437.00,1835.935,5297.785
202207,75777.0,41356.00,24085.9,65488.90,69061.6,22010.8,95592.40,99951.3,239690.8,21319.07,...,18670.680,30943.0,14184.0,17938.0,3734.0,3409.450,3929.675,4270.50,2920.875,5380.050
202208,81907.0,42308.75,24672.8,69962.00,79945.4,25041.6,92795.20,99923.5,245172.2,18887.55,...,17377.180,40135.0,15180.0,20222.0,3818.0,2358.050,3986.650,3890.00,2000.830,5156.730
202209,80710.5,40996.75,23841.1,64341.70,75692.2,22740.8,84800.00,101144.2,234826.0,21617.23,...,18436.620,37027.0,14264.0,19806.0,4638.2,3337.450,3958.665,4779.00,3165.120,5726.990
202210,70943.5,36592.45,19800.2,54936.50,69467.0,17743.6,82269.20,93761.9,212645.6,23711.62,...,17004.760,36290.0,10776.0,17614.0,3634.4,2280.200,3219.225,4000.50,2625.350,5644.725
202211,67526.0,36681.90,22020.4,57325.60,76552.0,21256.8,99880.80,84569.8,200104.6,26126.98,...,17629.840,30304.0,6692.0,17878.0,6319.4,3394.000,4288.060,4314.00,3645.350,7838.225
202212,74965.5,41377.00,28565.9,72545.30,79286.8,33750.4,146896.00,78889.7,212287.4,25782.31,...,16831.540,30618.0,3188.0,20324.0,8401.4,2447.900,5142.130,3257.00,2472.400,9437.295
202301,88808.5,43699.45,30292.1,78035.55,79506.6,35983.8,161089.60,76735.0,219375.9,29325.42,...,18144.030,32568.0,4096.0,22516.0,9260.0,3532.300,5836.005,4290.00,2996.190,9437.295
202302,89364.0,41088.70,27501.6,80917.75,83914.0,38717.0,148656.80,81937.3,215206.9,26521.24,...,16901.600,28252.0,6650.0,21188.0,7685.8,2441.900,5678.765,3976.50,1910.540,8615.285
202303,84524.5,28566.00,20358.8,79584.75,99086.2,31012.2,115102.00,85243.5,202042.5,28051.18,...,17681.320,30122.0,7656.0,21514.0,7396.4,3510.400,4852.680,4979.50,2939.590,8585.165
202304,68771.0,26243.55,20358.8,80584.70,100647.8,28224.4,93039.20,87026.5,189289.4,23492.24,...,16128.940,26392.0,10236.0,19344.0,6631.4,2449.550,4456.155,3911.50,2858.535,6812.490
202305,64979.0,17136.00,17986.6,79631.20,91889.8,17996.0,87961.60,87026.5,191820.4,23196.61,...,17323.480,29408.0,7702.0,19194.0,5817.4,3403.000,3729.975,4112.00,3940.455,5739.330
202306,65976.0,14674.75,16945.4,86260.70,99293.0,11692.8,79784.80,90547.7,198614.6,22162.56,...,15930.610,26725.0,6742.0,18524.0,3625.6,2319.500,2814.040,3114.00,2983.435,3876.060

In [15]:
# 第二步，空数据填充
fillna = data.iloc[:,1:3].T.cumsum() # 累加和
display(fillna)
result.iloc[:2] = fillna
result = result.T # 数据转置
result.to_csv('./企业用电量连续三个月累计汇总.csv',index = False)
result

编号ID,9070193615X,9070193716X,9070097519X,9070001396X,9070000995X,9070007134X,9070008890X,9070039089X,9070031687X,9074159380X,...,9747087346X,9077999894X,9077991113X,9077991171X,9078919184X,9078537750X,9366410119X,9549405189X,9598997006X,9737794947X
202101,32368.0,16912.15,9787.0,21013.05,41042.0,6509.0,41253.10,29810.5,66340.6,12243.70,...,6217.865,8592.0,5002.0,7236.0,1537.6,1420.150,2442.58,1752.0,1304.48,4230.74
202102,58503.5,22012.05,17049.6,42202.85,59155.0,12675.8,73771.15,60327.2,134570.5,22910.56,...,12435.730,18077.0,8208.0,12328.0,3898.8,2610.475,3591.14,2504.0,1591.59,7530.31

,202101,202102,202103,202104,202105,202106,202107,202108,202109,202110,...,202209,202210,202211,202212,202301,202302,202303,202304,202305,202306
编号ID,,,,,,,,,,,,,,,,,,,,,
9070193615X,32368.00,58503.500,82744.00,69640.000,70572.000,83331.500,90203.00,99341.500,89486.00,84661.50,...,80710.500,70943.500,67526.000,74965.500,88808.500,89364.000,84524.500,68771.000,64979.000,65976.000
9070193716X,16912.15,22012.050,30488.65,21468.050,27052.900,29441.750,33811.00,35093.300,34762.00,29514.95,...,40996.750,36592.450,36681.900,41377.000,43699.450,41088.700,28566.000,26243.550,17136.000,14674.750
9070097519X,9787.00,17049.600,24099.10,20291.600,20509.600,21562.100,24627.10,24920.000,24080.60,20816.40,...,23841.100,19800.200,22020.400,28565.900,30292.100,27501.600,20358.800,20358.800,17986.600,16945.400
9070001396X,21013.05,42202.850,62065.35,56876.900,49711.300,48231.500,50808.10,56496.500,53720.20,48433.70,...,64341.700,54936.500,57325.600,72545.300,78035.550,80917.750,79584.750,80584.700,79631.200,86260.700
9070000995X,41042.00,59155.000,77245.50,51195.000,47824.500,45753.500,47262.50,49388.000,52861.30,58478.40,...,75692.200,69467.000,76552.000,79286.800,79506.600,83914.000,99086.200,100647.800,91889.800,99293.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9078537750X,1420.15,2610.475,3800.80,2817.950,3037.425,2310.350,3217.90,2998.425,3725.50,2871.05,...,3337.450,2280.200,3394.000,2447.900,3532.300,2441.900,3510.400,2449.550,3403.000,2319.500
9366410119X,2442.58,3591.140,5397.29,3282.530,3597.510,2152.980,3166.84,2027.710,2924.58,2180.70,...,3958.665,3219.225,4288.060,5142.130,5836.005,5678.765,4852.680,4456.155,3729.975,2814.040
9549405189X,1752.00,2504.000,4380.74,3470.740,4526.740,3411.000,4079.50,3116.500,4203.50,3602.00,...,4779.000,4000.500,4314.000,3257.000,4290.000,3976.500,4979.500,3911.500,4112.000,3114.000
9598997006X,1304.48,1591.590,2919.50,2883.065,3870.395,2835.255,3391.36,2621.680,3810.18,2442.00,...,3165.120,2625.350,3645.350,2472.400,2996.190,1910.540,2939.590,2858.535,3940.455,2983.435
9737794947X,4230.74,7530.310,10547.22,7352.550,5825.730,4129.970,5721.34,5609.740,6656.09,5101.90,...,5726.990,5644.725,7838.225,9437.295,9437.295,8615.285,8585.165,6812.490,5739.330,3876.060

## <font color='red'>充电桩充电次数统计计数？（项目实战）</font>

### pivot长表转宽表

In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv(r'./充电桩数据分析.csv')
data

,城市,充电模式,充电地址,充电量（度）,费用,服务费,交易金额,充电开始时间,充电结束时间,故障情况
0,北京供电集团,有卡充电,北京供电集团12585充电站,30.00,20.68,15.01,35.69,2022/3/28 18:27,2022/3/29 8:31,正常
1,北京供电集团,有卡充电,北京供电集团12586充电站,37.63,28.76,3.77,32.53,2022/3/28 13:26,2022/3/29 14:47,正常
2,天津供电集团,有卡充电,天津供电集团12585充电站,21.42,14.10,7.93,22.03,2022/3/24 8:04,2022/3/24 9:23,正常
3,重庆供电集团,二维码充电,重庆供电集团12585充电站,19.30,11.97,19.30,31.27,2022/3/31 21:48,2022/3/31 22:34,正常
4,重庆供电集团,二维码充电,重庆供电集团12586充电站,5.87,3.64,5.87,9.51,2022/3/31 22:19,2022/3/31 23:01,正常
...,...,...,...,...,...,...,...,...,...,...
206932,东北供电集团,二维码充电,东北供电集团12584充电站,29.00,17.97,5.80,23.77,2022/3/31 22:38,2022/4/1 0:01,正常
206933,天津供电集团,账号在线充电,天津供电集团12583充电站,23.45,14.53,11.73,26.26,2022/3/31 22:41,2022/4/1 0:01,正常
206934,天津供电集团,二维码充电,天津供电集团12584充电站,25.46,15.77,11.97,27.74,2022/3/31 23:02,2022/4/1 0:01,故障
206935,深圳供电集团,二维码充电,深圳供电集团12584充电站,16.50,10.23,3.30,13.53,2022/3/31 23:27,2022/4/1 0:00,正常
206936,重庆供电集团,二维码充电,重庆供电集团12584充电站,10.73,6.65,10.73,17.38,2022/3/31 23:19,2022/4/1 0:00,正常

In [2]:
res = data.groupby(['城市','充电模式']).size() # 分组统计计数
display(res) # 这个数据是Series

城市      充电模式
上海供电集团  二维码充电     11253
        有卡充电        584
        账号在线充电      747
东北供电集团  二维码充电     41640
        有卡充电       8707
        账号在线充电     1762
北京供电集团  二维码充电     12314
        有卡充电       1393
        账号在线充电     1069
厦门供电集团  二维码充电     13748
        有卡充电      28833
        账号在线充电      750
天津供电集团  二维码充电     40350
        有卡充电       2750
        账号在线充电     5853
深圳供电集团  二维码充电     13459
        有卡充电        299
        账号在线充电     1202
重庆供电集团  二维码充电     18749
        有卡充电        243
        账号在线充电     1232
dtype: int64

In [3]:
res = res.reset_index(name = '充电次数') # 重置行索引，行索引会变为列索引
display(res) # 这里的res是DataFrame

        城市    充电模式   充电次数
0   上海供电集团   二维码充电  11253
1   上海供电集团    有卡充电    584
2   上海供电集团  账号在线充电    747
3   东北供电集团   二维码充电  41640
4   东北供电集团    有卡充电   8707
5   东北供电集团  账号在线充电   1762
6   北京供电集团   二维码充电  12314
7   北京供电集团    有卡充电   1393
8   北京供电集团  账号在线充电   1069
9   厦门供电集团   二维码充电  13748
10  厦门供电集团    有卡充电  28833
11  厦门供电集团  账号在线充电    750
12  天津供电集团   二维码充电  40350
13  天津供电集团    有卡充电   2750
14  天津供电集团  账号在线充电   5853
15  深圳供电集团   二维码充电  13459
16  深圳供电集团    有卡充电    299
17  深圳供电集团  账号在线充电   1202
18  重庆供电集团   二维码充电  18749
19  重庆供电集团    有卡充电    243
20  重庆供电集团  账号在线充电   1232

In [4]:
# pivot透视表，将某一列的值作为新的字段
# 长表--->宽表（列增多！！！）
res = res.pivot(columns=['充电模式'],index = '城市',values=['充电次数'])
display(res) # 此时会出现列多重索引

         充电次数
充电模式    二维码充电   有卡充电 账号在线充电
城市
上海供电集团  11253    584    747
东北供电集团  41640   8707   1762
北京供电集团  12314   1393   1069
厦门供电集团  13748  28833    750
天津供电集团  40350   2750   5853
深圳供电集团  13459    299   1202
重庆供电集团  18749    243   1232

In [5]:
res = res.droplevel(level = 0,axis = 1) # 删除列多层索引，将充电数次删除
display(res)

充电模式    二维码充电   有卡充电  账号在线充电
城市
上海供电集团  11253    584     747
东北供电集团  41640   8707    1762
北京供电集团  12314   1393    1069
厦门供电集团  13748  28833     750
天津供电集团  40350   2750    5853
深圳供电集团  13459    299    1202
重庆供电集团  18749    243    1232

In [6]:
res.index

Index(['上海供电集团', '东北供电集团', '北京供电集团', '厦门供电集团', '天津供电集团', '深圳供电集团', '重庆供电集团'], dtype='object', name='城市')

In [7]:
res.columns

Index(['二维码充电', '有卡充电', '账号在线充电'], dtype='object', name='充电模式')

In [8]:
# 修改列索引名
res.columns.names = ['']
res.index.names = ['']
res.to_csv('./充电桩各城市不同充电方式次数统计.csv')
res

        二维码充电   有卡充电  账号在线充电

上海供电集团  11253    584     747
东北供电集团  41640   8707    1762
北京供电集团  12314   1393    1069
厦门供电集团  13748  28833     750
天津供电集团  40350   2750    5853
深圳供电集团  13459    299    1202
重庆供电集团  18749    243    1232

### melt宽表转长表

In [9]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Math': [80, 75, 90],
    'Physics': [70, 85, 80],
    'Chemistry': [65, 80, 75]}
df = pd.DataFrame(data)
display(df)

      Name  Math  Physics  Chemistry
0    Alice    80       70         65
1      Bob    75       85         80
2  Charlie    90       80         75

In [10]:
res = pd.melt(df, id_vars=['Name'], var_name='Subject', value_name='Score')
display(res)

      Name    Subject  Score
0    Alice       Math     80
1      Bob       Math     75
2  Charlie       Math     90
3    Alice    Physics     70
4      Bob    Physics     85
5  Charlie    Physics     80
6    Alice  Chemistry     65
7      Bob  Chemistry     80
8  Charlie  Chemistry     75

## <font color='red'>不同城市充电桩充电效能分析？（项目实战）</font>

In [59]:
import numpy as np
import pandas as pd
data=pd.read_csv('./充电桩数据分析.csv')
data.dtypes

城市         object
充电模式       object
充电地址       object
充电量（度）    float64
费用        float64
服务费       float64
交易金额      float64
充电开始时间     object
充电结束时间     object
故障情况       object
dtype: object

In [60]:
data

,城市,充电模式,充电地址,充电量（度）,费用,服务费,交易金额,充电开始时间,充电结束时间,故障情况
0,北京供电集团,有卡充电,北京供电集团12585充电站,30.00,20.68,15.01,35.69,2022/3/28 18:27,2022/3/29 8:31,正常
1,北京供电集团,有卡充电,北京供电集团12586充电站,37.63,28.76,3.77,32.53,2022/3/28 13:26,2022/3/29 14:47,正常
2,天津供电集团,有卡充电,天津供电集团12585充电站,21.42,14.10,7.93,22.03,2022/3/24 8:04,2022/3/24 9:23,正常
3,重庆供电集团,二维码充电,重庆供电集团12585充电站,19.30,11.97,19.30,31.27,2022/3/31 21:48,2022/3/31 22:34,正常
4,重庆供电集团,二维码充电,重庆供电集团12586充电站,5.87,3.64,5.87,9.51,2022/3/31 22:19,2022/3/31 23:01,正常
...,...,...,...,...,...,...,...,...,...,...
206932,东北供电集团,二维码充电,东北供电集团12584充电站,29.00,17.97,5.80,23.77,2022/3/31 22:38,2022/4/1 0:01,正常
206933,天津供电集团,账号在线充电,天津供电集团12583充电站,23.45,14.53,11.73,26.26,2022/3/31 22:41,2022/4/1 0:01,正常
206934,天津供电集团,二维码充电,天津供电集团12584充电站,25.46,15.77,11.97,27.74,2022/3/31 23:02,2022/4/1 0:01,故障
206935,深圳供电集团,二维码充电,深圳供电集团12584充电站,16.50,10.23,3.30,13.53,2022/3/31 23:27,2022/4/1 0:00,正常
206936,重庆供电集团,二维码充电,重庆供电集团12584充电站,10.73,6.65,10.73,17.38,2022/3/31 23:19,2022/4/1 0:00,正常

In [61]:
data['充电结束时间'] = pd.to_datetime(data['充电结束时间'])
data['充电开始时间']=pd.to_datetime(data['充电开始时间'])
data

,城市,充电模式,充电地址,充电量（度）,费用,服务费,交易金额,充电开始时间,充电结束时间,故障情况
0,北京供电集团,有卡充电,北京供电集团12585充电站,30.00,20.68,15.01,35.69,2022-03-28 18:27:00,2022-03-29 08:31:00,正常
1,北京供电集团,有卡充电,北京供电集团12586充电站,37.63,28.76,3.77,32.53,2022-03-28 13:26:00,2022-03-29 14:47:00,正常
2,天津供电集团,有卡充电,天津供电集团12585充电站,21.42,14.10,7.93,22.03,2022-03-24 08:04:00,2022-03-24 09:23:00,正常
3,重庆供电集团,二维码充电,重庆供电集团12585充电站,19.30,11.97,19.30,31.27,2022-03-31 21:48:00,2022-03-31 22:34:00,正常
4,重庆供电集团,二维码充电,重庆供电集团12586充电站,5.87,3.64,5.87,9.51,2022-03-31 22:19:00,2022-03-31 23:01:00,正常
...,...,...,...,...,...,...,...,...,...,...
206932,东北供电集团,二维码充电,东北供电集团12584充电站,29.00,17.97,5.80,23.77,2022-03-31 22:38:00,2022-04-01 00:01:00,正常
206933,天津供电集团,账号在线充电,天津供电集团12583充电站,23.45,14.53,11.73,26.26,2022-03-31 22:41:00,2022-04-01 00:01:00,正常
206934,天津供电集团,二维码充电,天津供电集团12584充电站,25.46,15.77,11.97,27.74,2022-03-31 23:02:00,2022-04-01 00:01:00,故障
206935,深圳供电集团,二维码充电,深圳供电集团12584充电站,16.50,10.23,3.30,13.53,2022-03-31 23:27:00,2022-04-01 00:00:00,正常
206936,重庆供电集团,二维码充电,重庆供电集团12584充电站,10.73,6.65,10.73,17.38,2022-03-31 23:19:00,2022-04-01 00:00:00,正常

In [62]:
data['充电时长'] = data.apply(lambda x:(x['充电结束时间']-x['充电开始时间']).seconds,
                          axis=1) # 表明计算时，根据列进行算
data['充电时长'] = data['充电时长'] / 60 # 分钟
data

,城市,充电模式,充电地址,充电量（度）,费用,服务费,交易金额,充电开始时间,充电结束时间,故障情况,充电时长
0,北京供电集团,有卡充电,北京供电集团12585充电站,30.00,20.68,15.01,35.69,2022-03-28 18:27:00,2022-03-29 08:31:00,正常,844.0
1,北京供电集团,有卡充电,北京供电集团12586充电站,37.63,28.76,3.77,32.53,2022-03-28 13:26:00,2022-03-29 14:47:00,正常,81.0
2,天津供电集团,有卡充电,天津供电集团12585充电站,21.42,14.10,7.93,22.03,2022-03-24 08:04:00,2022-03-24 09:23:00,正常,79.0
3,重庆供电集团,二维码充电,重庆供电集团12585充电站,19.30,11.97,19.30,31.27,2022-03-31 21:48:00,2022-03-31 22:34:00,正常,46.0
4,重庆供电集团,二维码充电,重庆供电集团12586充电站,5.87,3.64,5.87,9.51,2022-03-31 22:19:00,2022-03-31 23:01:00,正常,42.0
...,...,...,...,...,...,...,...,...,...,...,...
206932,东北供电集团,二维码充电,东北供电集团12584充电站,29.00,17.97,5.80,23.77,2022-03-31 22:38:00,2022-04-01 00:01:00,正常,83.0
206933,天津供电集团,账号在线充电,天津供电集团12583充电站,23.45,14.53,11.73,26.26,2022-03-31 22:41:00,2022-04-01 00:01:00,正常,80.0
206934,天津供电集团,二维码充电,天津供电集团12584充电站,25.46,15.77,11.97,27.74,2022-03-31 23:02:00,2022-04-01 00:01:00,故障,59.0
206935,深圳供电集团,二维码充电,深圳供电集团12584充电站,16.50,10.23,3.30,13.53,2022-03-31 23:27:00,2022-04-01 00:00:00,正常,33.0
206936,重庆供电集团,二维码充电,重庆供电集团12584充电站,10.73,6.65,10.73,17.38,2022-03-31 23:19:00,2022-04-01 00:00:00,正常,41.0

In [63]:
res = data['充电结束时间'] - data['充电开始时间']
res

0        0 days 14:04:00
1        1 days 01:21:00
2        0 days 01:19:00
3        0 days 00:46:00
4        0 days 00:42:00
               ...
206932   0 days 01:23:00
206933   0 days 01:20:00
206934   0 days 00:59:00
206935   0 days 00:33:00
206936   0 days 00:41:00
Length: 206937, dtype: timedelta64[ns]

时间颠倒了数据处理

In [67]:
cond1 = res.dt.days <= -1
display(res[cond1])
data[cond1]

37468   -1 days +20:07:00
37482   -1 days +16:06:00
37488   -1 days +22:15:00
37490   -1 days +23:19:00
37496   -1 days +12:36:00
37511   -1 days +23:17:00
37522   -1 days +14:45:00
37529   -1 days +23:39:00
37533   -1 days +14:00:00
37534   -1 days +22:24:00
37542   -1 days +10:52:00
37550   -1 days +15:20:00
37554   -1 days +16:53:00
37568   -1 days +19:37:00
38789   -1 days +14:09:00
38798   -1 days +09:43:00
38801   -1 days +17:04:00
38804   -1 days +09:15:00
38809   -1 days +19:26:00
38810   -1 days +16:43:00
38920   -1 days +16:52:00
38923   -1 days +17:41:00
38935   -1 days +23:01:00
39004   -1 days +21:54:00
51797   -1 days +22:19:00
51859   -1 days +09:08:00
55446   -1 days +20:13:00
dtype: timedelta64[ns]

,城市,充电模式,充电地址,充电量（度）,费用,服务费,交易金额,充电开始时间,充电结束时间,故障情况,充电时长
37468,东北供电集团,二维码充电,东北供电集团22042充电站,9.86,6.12,1.97,8.09,2022-03-22 21:44:00,2022-03-22 17:51:00,正常,1207.0
37482,天津供电集团,二维码充电,天津供电集团21438充电站,20.20,12.53,9.49,22.02,2022-03-22 21:30:00,2022-03-22 13:36:00,正常,966.0
37488,天津供电集团,二维码充电,天津供电集团21440充电站,18.03,12.15,8.47,20.62,2022-03-22 21:41:00,2022-03-22 19:56:00,正常,1335.0
37490,东北供电集团,二维码充电,东北供电集团22050充电站,14.23,9.85,2.85,12.70,2022-03-22 21:51:00,2022-03-22 21:10:00,正常,1399.0
37496,北京供电集团,二维码充电,北京供电集团00449充电站,18.00,12.04,9.00,21.04,2022-03-22 21:35:00,2022-03-22 10:11:00,正常,756.0
37511,东北供电集团,二维码充电,东北供电集团22056充电站,25.06,16.04,11.27,27.31,2022-03-22 21:17:00,2022-03-22 20:34:00,正常,1397.0
37522,东北供电集团,二维码充电,东北供电集团22061充电站,49.44,30.49,14.83,45.32,2022-03-22 21:20:00,2022-03-22 12:05:00,正常,885.0
37529,天津供电集团,二维码充电,天津供电集团21453充电站,41.67,25.85,20.84,46.69,2022-03-22 20:35:00,2022-03-22 20:14:00,正常,1419.0
37533,天津供电集团,二维码充电,天津供电集团21454充电站,21.92,14.93,10.30,25.23,2022-03-22 21:24:00,2022-03-22 11:24:00,正常,840.0
37534,天津供电集团,二维码充电,天津供电集团21455充电站,54.11,34.47,27.06,61.53,2022-03-22 21:38:00,2022-03-22 20:02:00,故障,1344.0
37542,天津供电集团,二维码充电,天津供电集团21457充电站,15.29,9.49,7.65,17.14,2022-03-22 21:43:00,2022-03-22 08:35:00,故障,652.0
37550,重庆供电集团,二维码充电,重庆供电集团16196充电站,39.44,24.47,19.72,44.19,2022-03-22 21:20:00,2022-03-22 12:40:00,正常,920.0
37554,天津供电集团,二维码充电,天津供电集团21459充电站,22.68,14.07,10.66,24.73,2022-03-22 21:16:00,2022-03-22 14:09:00,正常,1013.0
37568,厦门供电集团,二维码充电,厦门供电集团20649充电站,17.85,11.61,17.85,29.46,2022-03-22 21:14:00,2022-03-22 16:51:00,正常,1177.0
38789,重庆供电集团,二维码充电,重庆供电集团16266充电站,28.62,17.48,28.62,46.10,2022-03-22 21:30:00,2022-03-22 11:39:00,正常,849.0
38798,重庆供电集团,二维码充电,重庆供电集团16268充电站,25.62,15.50,12.48,27.98,2022-03-22 21:31:00,2022-03-22 07:14:00,正常,583.0
38801,天津供电集团,二维码充电,天津供电集团21755充电站,26.42,16.39,13.21,29.60,2022-03-22 21:49:00,2022-03-22 14:53:00,正常,1024.0
38804,上海供电集团,二维码充电,上海供电集团02100充电站,25.19,12.97,25.19,38.16,2022-03-22 21:51:00,2022-03-22 07:06:00,正常,555.0
38809,北京供电集团,二维码充电,北京供电集团00547充电站,25.77,16.52,12.89,29.41,2022-03-22 21:57:00,2022-03-22 17:23:00,正常,1166.0
38810,天津供电集团,二维码充电,天津供电集团21757充电站,17.48,10.84,8.74,19.58,2022-03-22 22:01:00,2022-03-22 14:44:00,正常,1003.0
38920,北京供电集团,有卡充电,北京供电集团00558充电站,14.50,8.99,1.45,10.44,2022-03-22 12:48:00,2022-03-22 05:40:00,正常,1012.0
38923,天津供电集团,二维码充电,天津供电集团21786充电站,6.72,4.24,3.36,7.60,2022-03-22 11:56:00,2022-03-22 05:37:00,故障,1061.0
38935,天津供电集团,二维码充电,天津供电集团21793充电站,13.42,5.61,6.71,12.32,2022-03-22 06:46:00,2022-03-22 05:47:00,正常,1381.0
39004,东北供电集团,二维码充电,东北供电集团22448充电站,17.04,11.55,3.41,14.96,2022-03-22 21:51:00,2022-03-22 19:45:00,故障,1314.0
51797,东北供电集团,二维码充电,东北供电集团25696充电站,33.71,21.50,6.74,28.24,2022-03-22 21:28:00,2022-03-22 19:47:00,正常,1339.0
51859,天津供电集团,二维码充电,天津供电集团25046充电站,28.57,17.35,14.29,31.64,2022-03-22 20:52:00,2022-03-22 06:00:00,正常,548.0
55446,天津供电集团,二维码充电,天津供电集团25903充电站,34.07,27.59,16.02,43.61,2022-03-22 09:21:00,2022-03-22 05:34:00,故障,1213.0

In [68]:
data.loc[cond1,'充电开始时间'],data.loc[cond1,'充电结束时间'] = data.loc[cond1,'充电结束时间'],data.loc[cond1,'充电开始时间']
data[cond1]

,城市,充电模式,充电地址,充电量（度）,费用,服务费,交易金额,充电开始时间,充电结束时间,故障情况,充电时长
37468,东北供电集团,二维码充电,东北供电集团22042充电站,9.86,6.12,1.97,8.09,2022-03-22 17:51:00,2022-03-22 21:44:00,正常,1207.0
37482,天津供电集团,二维码充电,天津供电集团21438充电站,20.20,12.53,9.49,22.02,2022-03-22 13:36:00,2022-03-22 21:30:00,正常,966.0
37488,天津供电集团,二维码充电,天津供电集团21440充电站,18.03,12.15,8.47,20.62,2022-03-22 19:56:00,2022-03-22 21:41:00,正常,1335.0
37490,东北供电集团,二维码充电,东北供电集团22050充电站,14.23,9.85,2.85,12.70,2022-03-22 21:10:00,2022-03-22 21:51:00,正常,1399.0
37496,北京供电集团,二维码充电,北京供电集团00449充电站,18.00,12.04,9.00,21.04,2022-03-22 10:11:00,2022-03-22 21:35:00,正常,756.0
37511,东北供电集团,二维码充电,东北供电集团22056充电站,25.06,16.04,11.27,27.31,2022-03-22 20:34:00,2022-03-22 21:17:00,正常,1397.0
37522,东北供电集团,二维码充电,东北供电集团22061充电站,49.44,30.49,14.83,45.32,2022-03-22 12:05:00,2022-03-22 21:20:00,正常,885.0
37529,天津供电集团,二维码充电,天津供电集团21453充电站,41.67,25.85,20.84,46.69,2022-03-22 20:14:00,2022-03-22 20:35:00,正常,1419.0
37533,天津供电集团,二维码充电,天津供电集团21454充电站,21.92,14.93,10.30,25.23,2022-03-22 11:24:00,2022-03-22 21:24:00,正常,840.0
37534,天津供电集团,二维码充电,天津供电集团21455充电站,54.11,34.47,27.06,61.53,2022-03-22 20:02:00,2022-03-22 21:38:00,故障,1344.0
37542,天津供电集团,二维码充电,天津供电集团21457充电站,15.29,9.49,7.65,17.14,2022-03-22 08:35:00,2022-03-22 21:43:00,故障,652.0
37550,重庆供电集团,二维码充电,重庆供电集团16196充电站,39.44,24.47,19.72,44.19,2022-03-22 12:40:00,2022-03-22 21:20:00,正常,920.0
37554,天津供电集团,二维码充电,天津供电集团21459充电站,22.68,14.07,10.66,24.73,2022-03-22 14:09:00,2022-03-22 21:16:00,正常,1013.0
37568,厦门供电集团,二维码充电,厦门供电集团20649充电站,17.85,11.61,17.85,29.46,2022-03-22 16:51:00,2022-03-22 21:14:00,正常,1177.0
38789,重庆供电集团,二维码充电,重庆供电集团16266充电站,28.62,17.48,28.62,46.10,2022-03-22 11:39:00,2022-03-22 21:30:00,正常,849.0
38798,重庆供电集团,二维码充电,重庆供电集团16268充电站,25.62,15.50,12.48,27.98,2022-03-22 07:14:00,2022-03-22 21:31:00,正常,583.0
38801,天津供电集团,二维码充电,天津供电集团21755充电站,26.42,16.39,13.21,29.60,2022-03-22 14:53:00,2022-03-22 21:49:00,正常,1024.0
38804,上海供电集团,二维码充电,上海供电集团02100充电站,25.19,12.97,25.19,38.16,2022-03-22 07:06:00,2022-03-22 21:51:00,正常,555.0
38809,北京供电集团,二维码充电,北京供电集团00547充电站,25.77,16.52,12.89,29.41,2022-03-22 17:23:00,2022-03-22 21:57:00,正常,1166.0
38810,天津供电集团,二维码充电,天津供电集团21757充电站,17.48,10.84,8.74,19.58,2022-03-22 14:44:00,2022-03-22 22:01:00,正常,1003.0
38920,北京供电集团,有卡充电,北京供电集团00558充电站,14.50,8.99,1.45,10.44,2022-03-22 05:40:00,2022-03-22 12:48:00,正常,1012.0
38923,天津供电集团,二维码充电,天津供电集团21786充电站,6.72,4.24,3.36,7.60,2022-03-22 05:37:00,2022-03-22 11:56:00,故障,1061.0
38935,天津供电集团,二维码充电,天津供电集团21793充电站,13.42,5.61,6.71,12.32,2022-03-22 05:47:00,2022-03-22 06:46:00,正常,1381.0
39004,东北供电集团,二维码充电,东北供电集团22448充电站,17.04,11.55,3.41,14.96,2022-03-22 19:45:00,2022-03-22 21:51:00,故障,1314.0
51797,东北供电集团,二维码充电,东北供电集团25696充电站,33.71,21.50,6.74,28.24,2022-03-22 19:47:00,2022-03-22 21:28:00,正常,1339.0
51859,天津供电集团,二维码充电,天津供电集团25046充电站,28.57,17.35,14.29,31.64,2022-03-22 06:00:00,2022-03-22 20:52:00,正常,548.0
55446,天津供电集团,二维码充电,天津供电集团25903充电站,34.07,27.59,16.02,43.61,2022-03-22 05:34:00,2022-03-22 09:21:00,故障,1213.0

充电时间异常

In [69]:
cond2 = res.dt.days > 1
display(res[cond2])
display(data[cond2])

23975     2 days 04:38:00
24877    14 days 04:43:00
31069     3 days 02:04:00
38339     2 days 13:43:00
61539     2 days 02:25:00
61646     2 days 09:07:00
75809     2 days 02:20:00
96551     2 days 21:28:00
97902     2 days 22:22:00
98721     2 days 11:26:00
98783     2 days 14:16:00
98798     2 days 11:11:00
112105    2 days 07:06:00
112259    2 days 06:35:00
122704    3 days 00:38:00
131111    4 days 21:38:00
131122    3 days 09:39:00
132220    2 days 23:59:00
136996    2 days 10:27:00
137082    2 days 10:04:00
138663    2 days 10:11:00
142851    2 days 00:26:00
151887    2 days 06:55:00
175637    4 days 08:37:00
179224    4 days 11:25:00
179234    4 days 11:29:00
180776    2 days 03:13:00
dtype: timedelta64[ns]

,城市,充电模式,充电地址,充电量（度）,费用,服务费,交易金额,充电开始时间,充电结束时间,故障情况,充电时长
23975,北京供电集团,二维码充电,北京供电集团14362充电站,8.55,6.72,4.28,11.00,2022-03-25 16:47:00,2022-03-27 21:25:00,正常,278.0
24877,重庆供电集团,有卡充电,重庆供电集团15308充电站,17.26,10.78,8.63,19.41,2022-03-13 13:11:00,2022-03-27 17:54:00,正常,283.0
31069,重庆供电集团,有卡充电,重庆供电集团15775充电站,17.71,11.48,8.86,20.34,2022-03-23 13:57:00,2022-03-26 16:01:00,正常,124.0
38339,北京供电集团,有卡充电,北京供电集团00515充电站,18.84,13.46,9.42,22.88,2022-03-22 10:39:00,2022-03-25 00:22:00,正常,823.0
61539,上海供电集团,二维码充电,上海供电集团03388充电站,10.14,4.24,5.07,9.31,2022-03-19 06:13:00,2022-03-21 08:38:00,正常,145.0
61646,北京供电集团,有卡充电,北京供电集团02395充电站,12.96,7.89,1.30,9.19,2022-03-18 23:04:00,2022-03-21 08:11:00,正常,547.0
75809,天津供电集团,二维码充电,天津供电集团30979充电站,21.14,13.11,9.94,23.05,2022-03-16 13:33:00,2022-03-18 15:53:00,正常,140.0
96551,北京供电集团,有卡充电,北京供电集团05291充电站,22.17,18.25,2.22,20.47,2022-03-11 17:29:00,2022-03-14 14:57:00,正常,1288.0
97902,北京供电集团,有卡充电,北京供电集团05385充电站,10.72,7.36,1.07,8.43,2022-03-11 12:57:00,2022-03-14 11:19:00,正常,1342.0
98721,北京供电集团,有卡充电,北京供电集团05451充电站,10.29,6.38,1.03,7.41,2022-03-11 20:41:00,2022-03-14 08:07:00,正常,686.0
98783,北京供电集团,二维码充电,北京供电集团05459充电站,29.68,24.43,2.97,27.40,2022-03-11 17:32:00,2022-03-14 07:48:00,正常,856.0
98798,北京供电集团,有卡充电,北京供电集团05461充电站,10.80,6.70,1.08,7.78,2022-03-11 20:34:00,2022-03-14 07:45:00,正常,671.0
112105,上海供电集团,有卡充电,上海供电集团06629充电站,24.73,18.95,12.37,31.32,2022-03-09 08:39:00,2022-03-11 15:45:00,正常,426.0
112259,天津供电集团,二维码充电,天津供电集团40237充电站,19.60,15.31,9.21,24.52,2022-03-09 08:48:00,2022-03-11 15:23:00,正常,395.0
122704,东北供电集团,二维码充电,东北供电集团44178充电站,29.14,23.98,5.83,29.81,2022-03-06 15:11:00,2022-03-09 15:49:00,正常,38.0
131111,北京供电集团,有卡充电,北京供电集团07852充电站,12.54,10.32,1.25,11.57,2022-03-03 09:51:00,2022-03-08 07:29:00,正常,1298.0
131122,北京供电集团,有卡充电,北京供电集团07854充电站,10.19,6.32,1.02,7.34,2022-03-04 21:51:00,2022-03-08 07:30:00,正常,579.0
132220,北京供电集团,有卡充电,北京供电集团07927充电站,9.92,5.63,0.99,6.62,2022-03-04 21:49:00,2022-03-07 21:48:00,正常,1439.0
136996,北京供电集团,有卡充电,北京供电集团08245充电站,1.29,0.80,0.13,0.93,2022-03-04 21:45:00,2022-03-07 08:12:00,正常,627.0
137082,北京供电集团,有卡充电,北京供电集团08253充电站,11.91,7.39,1.19,8.58,2022-03-04 21:45:00,2022-03-07 07:49:00,正常,604.0
138663,北京供电集团,有卡充电,北京供电集团08348充电站,10.11,8.32,1.01,9.33,2022-03-04 09:41:00,2022-03-06 19:52:00,正常,611.0
142851,上海供电集团,有卡充电,上海供电集团08537充电站,30.24,23.40,15.12,38.52,2022-03-04 08:38:00,2022-03-06 09:04:00,正常,26.0
151887,上海供电集团,有卡充电,上海供电集团09102充电站,23.23,17.98,11.62,29.60,2022-03-02 10:27:00,2022-03-04 17:22:00,正常,415.0
175637,北京供电集团,有卡充电,北京供电集团10526充电站,10.04,6.29,1.00,7.29,2022-04-02 13:09:00,2022-04-06 21:46:00,正常,517.0
179224,北京供电集团,有卡充电,北京供电集团10780充电站,9.65,6.05,0.97,7.02,2022-04-01 20:43:00,2022-04-06 08:08:00,正常,685.0
179234,北京供电集团,有卡充电,北京供电集团10783充电站,9.81,6.15,0.98,7.13,2022-04-01 20:38:00,2022-04-06 08:07:00,正常,689.0
180776,北京供电集团,有卡充电,北京供电集团10867充电站,22.24,18.42,11.12,29.54,2022-04-03 15:57:00,2022-04-05 19:10:00,正常,193.0

In [70]:
cond2

0         False
1         False
2         False
3         False
4         False
          ...
206932    False
206933    False
206934    False
206935    False
206936    False
Length: 206937, dtype: bool

删除异常值

In [71]:
data = data[~cond2]
data

,城市,充电模式,充电地址,充电量（度）,费用,服务费,交易金额,充电开始时间,充电结束时间,故障情况,充电时长
0,北京供电集团,有卡充电,北京供电集团12585充电站,30.00,20.68,15.01,35.69,2022-03-28 18:27:00,2022-03-29 08:31:00,正常,844.0
1,北京供电集团,有卡充电,北京供电集团12586充电站,37.63,28.76,3.77,32.53,2022-03-28 13:26:00,2022-03-29 14:47:00,正常,81.0
2,天津供电集团,有卡充电,天津供电集团12585充电站,21.42,14.10,7.93,22.03,2022-03-24 08:04:00,2022-03-24 09:23:00,正常,79.0
3,重庆供电集团,二维码充电,重庆供电集团12585充电站,19.30,11.97,19.30,31.27,2022-03-31 21:48:00,2022-03-31 22:34:00,正常,46.0
4,重庆供电集团,二维码充电,重庆供电集团12586充电站,5.87,3.64,5.87,9.51,2022-03-31 22:19:00,2022-03-31 23:01:00,正常,42.0
...,...,...,...,...,...,...,...,...,...,...,...
206932,东北供电集团,二维码充电,东北供电集团12584充电站,29.00,17.97,5.80,23.77,2022-03-31 22:38:00,2022-04-01 00:01:00,正常,83.0
206933,天津供电集团,账号在线充电,天津供电集团12583充电站,23.45,14.53,11.73,26.26,2022-03-31 22:41:00,2022-04-01 00:01:00,正常,80.0
206934,天津供电集团,二维码充电,天津供电集团12584充电站,25.46,15.77,11.97,27.74,2022-03-31 23:02:00,2022-04-01 00:01:00,故障,59.0
206935,深圳供电集团,二维码充电,深圳供电集团12584充电站,16.50,10.23,3.30,13.53,2022-03-31 23:27:00,2022-04-01 00:00:00,正常,33.0
206936,重庆供电集团,二维码充电,重庆供电集团12584充电站,10.73,6.65,10.73,17.38,2022-03-31 23:19:00,2022-04-01 00:00:00,正常,41.0

In [72]:
def func(item):
    time = item['充电结束时间'] - item['充电开始时间']
    mins1 = time.seconds / 60
    mins2 = time.days * 24 * 60
    return mins1 + mins2
data.loc[:,'充电时长'] = data.apply(func,axis = 1) # 表明计算时，根据列进行算
data

,城市,充电模式,充电地址,充电量（度）,费用,服务费,交易金额,充电开始时间,充电结束时间,故障情况,充电时长
0,北京供电集团,有卡充电,北京供电集团12585充电站,30.00,20.68,15.01,35.69,2022-03-28 18:27:00,2022-03-29 08:31:00,正常,844.0
1,北京供电集团,有卡充电,北京供电集团12586充电站,37.63,28.76,3.77,32.53,2022-03-28 13:26:00,2022-03-29 14:47:00,正常,1521.0
2,天津供电集团,有卡充电,天津供电集团12585充电站,21.42,14.10,7.93,22.03,2022-03-24 08:04:00,2022-03-24 09:23:00,正常,79.0
3,重庆供电集团,二维码充电,重庆供电集团12585充电站,19.30,11.97,19.30,31.27,2022-03-31 21:48:00,2022-03-31 22:34:00,正常,46.0
4,重庆供电集团,二维码充电,重庆供电集团12586充电站,5.87,3.64,5.87,9.51,2022-03-31 22:19:00,2022-03-31 23:01:00,正常,42.0
...,...,...,...,...,...,...,...,...,...,...,...
206932,东北供电集团,二维码充电,东北供电集团12584充电站,29.00,17.97,5.80,23.77,2022-03-31 22:38:00,2022-04-01 00:01:00,正常,83.0
206933,天津供电集团,账号在线充电,天津供电集团12583充电站,23.45,14.53,11.73,26.26,2022-03-31 22:41:00,2022-04-01 00:01:00,正常,80.0
206934,天津供电集团,二维码充电,天津供电集团12584充电站,25.46,15.77,11.97,27.74,2022-03-31 23:02:00,2022-04-01 00:01:00,故障,59.0
206935,深圳供电集团,二维码充电,深圳供电集团12584充电站,16.50,10.23,3.30,13.53,2022-03-31 23:27:00,2022-04-01 00:00:00,正常,33.0
206936,重庆供电集团,二维码充电,重庆供电集团12584充电站,10.73,6.65,10.73,17.38,2022-03-31 23:19:00,2022-04-01 00:00:00,正常,41.0

In [73]:
def count(item):
    return (item == '故障').sum()

result=data.groupby(['城市']).agg({"充电量（度）":"mean",
                               "费用":"mean",
                               "服务费":"mean",
                               "充电时长":"mean",
                               "故障情况":count})
result

           充电量（度）         费用        服务费       充电时长  故障情况
城市
上海供电集团  19.408430  13.293741  11.188785  74.637440   455
东北供电集团  23.097204  11.334078   5.792927  47.888405  2144
北京供电集团  21.806313  14.506270   8.166426  95.407440   518
厦门供电集团  21.726552  14.989889  12.551721  29.864739  1541
天津供电集团  23.265778  14.128632  12.166572  53.547016  3286
深圳供电集团  19.818093  13.048678   6.145395  50.983356   745
重庆供电集团  19.567953  13.558102  11.286402  63.639848  1033

In [75]:
result.reset_index(inplace=True)
result

       城市     充电量（度）         费用        服务费       充电时长  故障情况
0  上海供电集团  19.408430  13.293741  11.188785  74.637440   455
1  东北供电集团  23.097204  11.334078   5.792927  47.888405  2144
2  北京供电集团  21.806313  14.506270   8.166426  95.407440   518
3  厦门供电集团  21.726552  14.989889  12.551721  29.864739  1541
4  天津供电集团  23.265778  14.128632  12.166572  53.547016  3286
5  深圳供电集团  19.818093  13.048678   6.145395  50.983356   745
6  重庆供电集团  19.567953  13.558102  11.286402  63.639848  1033

In [76]:
result['充电效率']=result['充电量（度）'] / result['充电时长']
result = result.round(3)
result

       城市  充电量（度）      费用     服务费    充电时长  故障情况   充电效率
0  上海供电集团  19.408  13.294  11.189  74.637   455  0.260
1  东北供电集团  23.097  11.334   5.793  47.888  2144  0.482
2  北京供电集团  21.806  14.506   8.166  95.407   518  0.229
3  厦门供电集团  21.727  14.990  12.552  29.865  1541  0.727
4  天津供电集团  23.266  14.129  12.167  53.547  3286  0.434
5  深圳供电集团  19.818  13.049   6.145  50.983   745  0.389
6  重庆供电集团  19.568  13.558  11.286  63.640  1033  0.307

In [77]:
result.columns=['充电桩','平均交易电量','平均交易电费','平均服务费','平均充电时长（分钟）',
                '故障次数','充电效率']
result

      充电桩  平均交易电量  平均交易电费   平均服务费  平均充电时长（分钟）  故障次数   充电效率
0  上海供电集团  19.408  13.294  11.189      74.637   455  0.260
1  东北供电集团  23.097  11.334   5.793      47.888  2144  0.482
2  北京供电集团  21.806  14.506   8.166      95.407   518  0.229
3  厦门供电集团  21.727  14.990  12.552      29.865  1541  0.727
4  天津供电集团  23.266  14.129  12.167      53.547  3286  0.434
5  深圳供电集团  19.818  13.049   6.145      50.983   745  0.389
6  重庆供电集团  19.568  13.558  11.286      63.640  1033  0.307

In [78]:
result.to_csv('./充电桩充电效能分析.csv',index=False)
result

      充电桩  平均交易电量  平均交易电费   平均服务费  平均充电时长（分钟）  故障次数   充电效率
0  上海供电集团  19.408  13.294  11.189      74.637   455  0.260
1  东北供电集团  23.097  11.334   5.793      47.888  2144  0.482
2  北京供电集团  21.806  14.506   8.166      95.407   518  0.229
3  厦门供电集团  21.727  14.990  12.552      29.865  1541  0.727
4  天津供电集团  23.266  14.129  12.167      53.547  3286  0.434
5  深圳供电集团  19.818  13.049   6.145      50.983   745  0.389
6  重庆供电集团  19.568  13.558  11.286      63.640  1033  0.307